{% load humanize has_group %}

{% for prod_key, prod_data in pivot_data.items %}
    {% with p_id=forloop.counter %}
<!-- producto -->
    <tr class="border-b border-border cursor-pointer hover:bg-hover/20 transition-colors"
        onclick="togglePivot('pr-prod-{{ p_id }}', 'icon-pr-prod-{{ p_id }}')">
        <td class="p-1 text-strong sticky md:left-0 z-20 min-w-[280px] bg-container border-r border-b border-border">
            <div class="flex items-center gap-2 min-w-full min-h-full ">
                <svg id="icon-pr-prod-{{ p_id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-right-icon lucide-circle-chevron-right text-muted transition-transform shrink-0"><circle cx="12" cy="12" r="10"/><path d="m10 8 4 4-4 4"/></svg>
                <span class="truncate font-semibold text-title" title="{% if prod_data.id %}{{ prod_data.id|upper }} - {% endif %}{{ prod_data.name|title }}">
                    {% if prod_data.id %}<span class="text-muted text-xs">{{ prod_data.id|upper }}</span> - {% endif %}{{ prod_data.name|title }}
                </span>
            </div>
        </td>
        {% for total in prod_data.totals %}
            <td class="p-1 text-right text-strong border-r border-b border-border min-w-[140px]">
                <div class="flex items-center justify-between gap-2">
                    <span class="rounded text-[10px] px-1 py-[1px] whitespace-nowrap font-medium {{ total.growth_badge_class }}">
                        {% if total.growth > 0 %}+{% endif %}{{ total.growth|default:0|floatformat:2|intcomma }}%
                    </span>
                    <div class="text-right">
                        <span class="text-title font-medium text-xs">$ {{ total.net|default:0|floatformat:2|intcomma }}</span><br>
                        {% if is_seller %}
                            <span class="italic text-[10px] font-medium {{ total.margin_class }}">
                                Mrg: {{ total.margin_label }}
                            </span>
                        {% else %}
                            <span class="text-muted italic text-[10px]">
                                Mrg: {{ total.margin|default:0|floatformat:2|intcomma }}%
                                <span class="text-[9px] {{ total.margin_class }}">
                                    {{ total.margin_label }}
                                </span>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </td>
        {% endfor %}
    </tr>

<!-- ruta -->
    {% for route_key, route_data in prod_data.children.items %}
        <tr class="pr-prod-{{ p_id }} hidden border-b border-border hover:bg-hover/20 transition-colors bg-page">
            <td class="p-1 pl-8 text-muted sticky md:left-0 z-20 min-w-[280px] bg-page border-r border-border border-b">
                <div class="flex items-center gap-2 min-w-full min-h-full ">
                    <span class="w-4 flex justify-center shrink-0 text-secondary text-xs">•</span>
                    <span class="truncate text-xs" title="Ruta {% if route_data.id and route_data.id != 'otros' %}{{ route_data.id|upper }} - {% endif %}{{ route_data.name|title }}">
                        Ruta {% if route_data.id and route_data.id != 'otros' %}<span>{{ route_data.id|upper }}</span> - {% endif %}{{ route_data.name|title }}
                    </span>
                </div>
            </td>
            {% for total in route_data.totals %}
                <td class="p-1 text-right text-strong border-r border-b border-border min-w-[140px]">
                    <div class="flex items-center justify-between gap-2">
                        <span class="rounded text-[10px] px-1 py-[1px] whitespace-nowrap font-medium {{ total.growth_badge_class }}">
                            {% if total.growth > 0 %}+{% endif %}{{ total.growth|default:0|floatformat:2|intcomma }}%
                        </span>
                        <div class="text-right">
                            <span class="text-title font-medium text-xs">$ {{ total.net|default:0|floatformat:2|intcomma }}</span><br>
                            {% if is_seller %}
                                <span class="italic text-[10px] font-medium {{ total.margin_class }}">
                                    Mrg: {{ total.margin_label }}
                                </span>
                            {% else %}
                                <span class="text-muted italic text-[10px]">
                                    Mrg: {{ total.margin|default:0|floatformat:2|intcomma }}%
                                    <span class="text-[9px] {{ total.margin_class }}">
                                        {{ total.margin_label }}
                                    </span>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% endwith %}
{% endfor %}
