{% load humanize %}

{% if dimension == 'customer_productclass_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_customer_productclass_product.html' %}
{% elif dimension == 'productclass_customer_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_productclass_customer_product.html' %}
{% elif dimension == 'productclass_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_productclass_product.html' %}
{% elif dimension == 'management_productclass_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_management_productclass_product.html' %}
{% elif dimension == 'management_route_productclass_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_management_route_productclass_product.html' %}
{% elif dimension == 'route_productclass_product' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_route_productclass_product.html' %}
{% elif dimension == 'product_customer' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_product_customer.html' %}
{% elif dimension == 'product_management' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_product_management.html' %}
{% elif dimension == 'product_route' %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_product_route.html' %}
{% else %}
    {% include 'analytics/yearly_sale_breakdown/partials/_dimension_customer_productclass_product.html' %}
{% endif %}

{% if not pivot_data %}
    {% if not page_obj.has_previous %}
    <tr>
        <td colspan="{{ available_years|length|add:1 }}" class="p-4 text-muted text-center border-border">
            <div class="sticky left-1/2 -translate-x-1/2 w-max">
                {% include 'layouts/data_not_found.html' %}
            </div>
        </td>
    </tr>
    {% endif %}
{% endif %}

{% if page_obj and page_obj.has_next %}
<tr id="load-more-row-{{ page_obj.number }}">
    <td colspan="{{ available_years|length|add:1 }}" class="p-4 border-t border-border">
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            <button hx-get="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
                    hx-target="#load-more-row-{{ page_obj.number }}"
                    hx-swap="outerHTML"
                    class="group hover:text-hover text-strong transition-colors cursor-pointer border border-border rounded p-1.5 bg-page flex items-center gap-2 text-xs">
                
                <div class="flex items-center gap-2 group-[.htmx-request]:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down"><circle cx="12" cy="12" r="10"/><path d="m16 10-4 4-4-4"/></svg>
                    <span>Mostrar más</span>
                </div>

                <div class="hidden items-center gap-2 group-[.htmx-request]:flex">
                    {% include 'layouts/loading_animation_icon.html' %}
                    <span class="text-strong">Cargando...</span>
                </div>
            </button>
        </div>
    </td>
</tr>
{% endif %}
