{% load humanize widget_tweaks has_group %}
<div class="border border-border rounded p-2 bg-container  min-h-98">
    <p class="text-title text-sm text-center mt-2 mb-2">Venta neta por ruta</p>

    <div class="overflow-auto rounded overflow-y-auto h-80" style="max-height: 320px; overflow-y: auto; display: block;">
        <table class="table-fixed w-full rounded max-h-80 border-separate border-spacing-0">
            <thead>
                <tr class="">
                    <th class="w-30 p-1 text-center border-b border-r border-border sticky top-0 z-20 left-0 bg-container" style="z-index: 30;">Ruta</th>
                    <th class="w-30 p-1 text-center border-b border-border sticky top-0 z-10 bg-container">Venta neta</th>
                    <th class="w-30 p-1 text-center border-b border-border sticky top-0 z-10 bg-container">Objetivo</th>
                    <th class="w-30 p-1 text-center border-b border-border sticky top-0 z-10 bg-container">Diferencia</th>
                    <th class="w-20 p-1 text-center border-b border-border sticky top-0 z-10 bg-container">Alcance</th>
                    <th class="w-24 p-1 text-center border-b border-border sticky top-0 z-10 bg-container">Margen</th>
                </tr>
            </thead>

            <tbody>
                {% for route in route_table %}
                <tr>

                    <td class="w-30 min-w-30 max-w-30 p-2 border-r border-border sticky left-0 z-10 bg-container">
                        <a href="{% url 'analytics:route_kpis_view' %}?route={{ route.id|default:'' }}&date_start={{ selected_date_start|date:'Y-m-d'|default:selected_date_start }}&date_end={{ selected_date_end|date:'Y-m-d'|default:selected_date_end }}" class="hover:text-hover transition-colors cursor-pointer truncate flex items-center gap-1 underline text-title">
                            {{ route.id|upper }} {{ route.name|title }}
                        </a>
                    </td>
                    <td class="p-2 text-right whitespace-nowrap">$ {{ route.total_net_sale|floatformat:2|intcomma }}</td>
                    <td class="p-2 text-right whitespace-nowrap">$ {{ route.total_target|floatformat:2|intcomma }}</td>
                    <td class="p-2 text-right whitespace-nowrap">$ {{ route.total_difference|floatformat:2|intcomma }}</td>
                    <td class="p-2 text-right whitespace-nowrap">{{ route.total_scope|floatformat:2|intcomma }} %</td>
                    <td class="p-2 text-center whitespace-nowrap font-medium">
                        {% if request.user|has_group:"vendedor" %}
                            {% if route.total_margin >= 43 %}
                                <span class="text-emerald-600">Excelente</span>
                            {% elif route.total_margin >= 40 %}
                                <span class="text-emerald-500">Óptimo</span>
                            {% elif route.total_margin >= 37 %}
                                <span class="text-yellow-500">Regular</span>
                            {% elif route.total_margin >= 35 %}
                                <span class="text-red-500">Malo</span>
                            {% else %}
                                <span class="text-red-500">Muy malo</span>
                            {% endif %}
                        {% else %}
                            <span class="text-title">
                                {{ route.total_margin|floatformat:2|intcomma }}%
                                <span class="text-[11px] block">
                                    {% if route.total_margin >= 43 %}
                                        <span class="text-emerald-600">Excelente</span>
                                    {% elif route.total_margin >= 40 %}
                                        <span class="text-emerald-500">Óptimo</span>
                                    {% elif route.total_margin >= 37 %}
                                        <span class="text-yellow-500">Regular</span>
                                    {% elif route.total_margin >= 35 %}
                                        <span class="text-red-500">Malo</span>
                                    {% else %}
                                        <span class="text-red-500">Muy malo</span>
                                    {% endif %}
                                </span>
                            </span>
                        {% endif %}
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center py-4 text-gray-500">No hay datos para mostrar</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>