{% extends 'base.html' %}
{% load humanize %}

{% block title %}Reporte de comisiones{% endblock %}
{% block module_name %}Reporte de comisiones{% endblock %}

{% block module_actions %}
    <form id="action-form" method="POST" action="{% url 'human_resources:commissions_action' %}" class="flex items-center gap-4">
        {% csrf_token %}
        <input type="hidden" name="action" id="action-type" value="">
        <input type="hidden" name="action_month" id="action-month" value="{{ filters.month }}">
        <input type="hidden" name="action_year" id="action-year" value="{{ filters.year }}">

        <button type="button" onclick="submitAction('recalculate')" id="btn-recalculate" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-1 group">
            <div class="hidden action-icon text-blue-500 hover:text-hover transition-colors flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-equal-icon lucide-circle-equal"><circle cx="12" cy="12" r="10"/><path d="M7 10h10"/><path d="M7 14h10"/></svg>
                <span class="font-medium">Recalcular</span>
            </div>
            <span class="action-icon-to-hide">Recalcular</span>
        </button>

        <button type="button" onclick="submitAction('close')" id="btn-close" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-1">
            <div class="hidden action-icon text-green-600 hover:text-hover transition-colors flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                <span class="font-medium">Cerrar cálculo</span>
            </div>
            <span class="action-icon-to-hide">Cerrar cálculo</span>
        </button>

        <button type="button" onclick="submitAction('export_data')" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-1">
            <span>Descargar datos</span>
        </button>

    </form>
    
    <!-- <a href="" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2">Descargar reporte</a> -->
    <a href="" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2">Descargar datos</a>
    <div class="relative group">
        <button type="button" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-1 h-full py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-2"><circle cx="18" cy="5" r="3"/><circle cx="6" cy="12" r="3"/><circle cx="18" cy="19" r="3"/><line x1="8.59" x2="15.42" y1="13.51" y2="17.49"/><line x1="15.41" x2="8.59" y1="6.51" y2="10.49"/></svg>
            <span>Compartir</span>
        </button>
        
        <div class="absolute right-0 top-20 mt-1 w-48 bg-page border border-border rounded shadow-lg hidden group-hover:block z-50 overflow-hidden">
            <button type="button" onclick="submitAction('send_draft')" class="w-full text-left px-4 py-2 text-strong hover:bg-hover transition-colors text-sm flex items-center gap-2 border-b border-border">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-yellow-600"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                Solo borradores
            </button>
            <button type="button" onclick="submitAction('send_closed')" class="w-full text-left px-4 py-2 text-strong hover:bg-hover transition-colors text-sm flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-green-600"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
                Solo cerrados
            </button>
        </div>
    </div>
    <button onclick="toggleFilters()" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2 border border-border rounded p-1">
        <span>Filtrar</span>
    </button>
{% endblock %}

{% block filters %}
<form method="GET" action="" id="params_filters">
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Búsqueda</label>
        <input type="text" name="query_text" value="{{ filters.query_text }}" class="border border-border rounded p-1 bg-page text-sm" placeholder="Ruta, colaborador...">
    </div>

    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Mes (Cálculo principal)</label>
        <select name="month" class="border border-border rounded p-1 bg-page text-sm outline-none w-full" required>
            <option value="1" {% if filters.month == '1' %}selected{% endif %}>Enero</option>
            <option value="2" {% if filters.month == '2' %}selected{% endif %}>Febrero</option>
            <option value="3" {% if filters.month == '3' %}selected{% endif %}>Marzo</option>
            <option value="4" {% if filters.month == '4' %}selected{% endif %}>Abril</option>
            <option value="5" {% if filters.month == '5' %}selected{% endif %}>Mayo</option>
            <option value="6" {% if filters.month == '6' %}selected{% endif %}>Junio</option>
            <option value="7" {% if filters.month == '7' %}selected{% endif %}>Julio</option>
            <option value="8" {% if filters.month == '8' %}selected{% endif %}>Agosto</option>
            <option value="9" {% if filters.month == '9' %}selected{% endif %}>Septiembre</option>
            <option value="10" {% if filters.month == '10' %}selected{% endif %}>Octubre</option>
            <option value="11" {% if filters.month == '11' %}selected{% endif %}>Noviembre</option>
            <option value="12" {% if filters.month == '12' %}selected{% endif %}>Diciembre</option>
        </select>
    </div>

    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Año</label>
        <select name="year" class="border border-border rounded p-1 bg-page text-sm outline-none w-full" required>
            {% for y in available_years %}
                <option value="{{ y }}" {% if filters.year == y|stringformat:"s" %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full mt-2 mb-2">Aplicar filtros</button>
    <a href="?" class="block bg-page border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full text-center">Limpiar filtros</a>
</form>
{% endblock %}

{% block content %}
<div class="flex flex-col w-full gap-4">

    <div class="">
        <p class="text-title text-sm mb-2">Reporte de comisiones: mes {{ filters.month }}, año {{ filters.year }}</p>
        <hr class="border-border">
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="border border-border rounded p-2 flex flex-col bg-container">
            <p class="text-muted text-sm text-strong">Alcance promedio</p>
            <p class="text-xl
            {% if commissions.avg_scope >= 100 %}
                text-green-500
            {% elif commissions.avg_scope >= 90 %}
                text-yellow-500
            {% elif commissions.avg_scope >= 80 %}
                text-orange-500
            {% else %}
                text-red-500
            {% endif %}
            ">{{ commissions.avg_scope|default:0.00|floatformat:2|intcomma }} %</p>
        </div>

        <div class="border border-border rounded p-2 flex flex-col bg-container">
            <p class="text-muted text-sm text-strong">Pago potencial</p>
            <p class="text-xl text-violet-500">$ {{ commissions.total_potential|default:0.00|floatformat:2|intcomma }}</p>
        </div>

        <div class="border border-border rounded p-2 flex flex-col bg-container">
            <p class="text-muted text-sm text-strong">Total pagado</p>
            <p class="text-xl text-green-600">$ {{ commissions.total_paid|default:0.00|floatformat:2|intcomma }}</p>
        </div>
        

        <div class="border border-border rounded p-2 flex flex-col bg-container">
            <p class="text-muted text-sm text-strong">Clases completadas promedio</p>
            <p class="text-xl text-violet-500">{{ commissions.avg_product_classes_scope|default:0.00|floatformat:2|intcomma }}</p>
        </div>

    </div>
    
    <div class="w-full overflow-x-auto border border-border rounded bg-container mt-4">
        <table class="w-full min-w-max text-left border-separate border-spacing-0">
            <thead>
                <tr class="">
                    <th class="w-10 p-2 text-center border-b border-border sticky left-0 z-10 bg-container">
                        <input type="checkbox" id="select-all-rows" class="cursor-pointer accent-strong">
                    </th>
                    <th class="min-w-20 p-2 text-center text-title border-b border-r border-border sticky left-10 z-10 bg-container">Ruta</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Colaborador</th>
                    <th class="min-w-20 p-2 text-center text-title border-b border-border">Estado</th>
                    <th class="min-w-60 p-2 text-center text-title border-b border-border">Periodo calculado</th>
                    <th class="min-w-20 p-2 text-center text-title border-b border-border">Fecha de cálculo</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Perfil de cálculo</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Objetivo de venta</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Venta neta</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Alcance</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Clases completadas</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Bono base</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Ajustes manuales</th>
                    <th class="min-w-40 p-2 text-center text-title border-b border-border">Conversión</th>
                </tr>
            </thead>

            <tbody>
                {% for commission in commissions.report %}
                <tr class="hover:bg-hover transition-colors">
                    
                    <td class="p-2 text-center sticky left-0 z-10 bg-container">
                        <input type="checkbox" name="selected_routes" value="{{ commission.route.id }}" class="row-checkbox cursor-pointer accent-strong" form="action-form">
                    </td>

                    <td class="p-2 text-left sticky left-10 z-10 bg-container border-r border-border">
                        <a href="#" target="_blank" class="flex items-center justify-start gap-2 underline text-strong cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                            <span>{{ commission.route.id|upper|default:'-' }}</span>
                        </a>
                    </td>
                    
                    <td class="p-2 truncate text-center ">{{ commission.employee.user.first_name|title|default:'-' }} {{ commission.employee.user.last_name|title|default:'-' }}</td>
                    
                    <td class="p-2 truncate text-center ">
                        {% if commission.status == 'draft' %}
                            <span class="text-yellow-600">Borrador</span>
                        {% else %}
                            <span class="text-green-600">Cerrado</span>
                        {% endif %}
                    </td>
                    
                    <td class="p-2 truncate text-center ">{{ commission.period_start|date:"d F Y" }} - {{ commission.period_end|date:"d F Y" }}</td>
                    <td class="p-2 truncate text-center ">{{ commission.calculated_at|date:"d F Y H:i:s" }}</td>
                    
                    <td class="p-2 truncate text-left ">
                        {% if commission.profile_id %}
                            <a href="{% url 'human_resources:commission_profile_detail' commission.profile_id %}" target="_blank" class="flex items-center justify-center gap-2 underline text-strong cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                                <span>
                                    {{ commission.snapshot_profile_name|default:'-'|title }}
                                </span>
                            </a>
                        {% else %}
                            {{ commission.snapshot_profile_name|default:'-'|title }}
                        {% endif %}
                    </td>
                    
                    <td class="p-2 truncate text-center ">$ {{ commission.snapshot_target|default:0|floatformat:2|intcomma }}</td>
                    <td class="p-2 truncate text-center ">$ {{ commission.snapshot_net_sales|default:0|floatformat:2|intcomma }}</td>
                    <td class="p-2 truncate text-center ">{{ commission.snapshot_global_scope|default:0|floatformat:2|intcomma }} %</td>
                    <td class="p-2 truncate text-center ">{{ commission.snapshot_completed_classes|default:0|floatformat:0|intcomma }}</td>
                    
                    <td class="p-2 truncate text-center ">
                        {% if commission.bonus_type == 'v' %}
                            {{ commission.snapshot_base_bonus|floatformat:2|intcomma }} %
                        {% elif commission.bonus_type == 'f' %}
                            $ {{ commission.snapshot_base_bonus|floatformat:2|intcomma }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    
                    <td class="p-2 truncate text-center ">$ {{ commission.manual_adjustment|default:0|floatformat:2|intcomma }}</td> 
                    
                    <td class="p-2 truncate text-center text-green-600 font-semibold">$ {{ commission.final_calculated_bonus|default:0|floatformat:2|intcomma }}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="14" class="p-4 text-center text-body">No hay datos para mostrar.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectAll = document.getElementById('select-all-rows');
        const checkboxes = document.querySelectorAll('.row-checkbox');
        const actionIcons = document.querySelectorAll('.action-icon');
        const actionIconsToHide = document.querySelectorAll('.action-icon-to-hide');

        function updateIconsVisibility() {
            const anyChecked = Array.from(checkboxes).some(cb => cb.checked);
            actionIcons.forEach(icon => {
                if(anyChecked) {
                    icon.classList.remove('hidden');
                } else {
                    icon.classList.add('hidden');
                }
            });

            actionIconsToHide.forEach(icon => {
                if(anyChecked) {
                    icon.classList.add('hidden');
                } else {
                    icon.classList.remove('hidden');
                }
            });
        }

        selectAll.addEventListener('change', function(e) {
            checkboxes.forEach(cb => cb.checked = e.target.checked);
            updateIconsVisibility();
        });

        checkboxes.forEach(cb => {
            cb.addEventListener('change', updateIconsVisibility);
        });
    });

    function submitAction(actionType) {
        const currentMonth = document.querySelector('select[name="month"]').value;
        const currentYear = document.querySelector('select[name="year"]').value;

        document.getElementById('action-type').value = actionType;
        document.getElementById('action-month').value = currentMonth;
        document.getElementById('action-year').value = currentYear;
        document.getElementById('action-form').submit();
    }
</script>
{% endblock %}