{% extends 'base.html' %}
{% load humanize %}

{% block title %}Detalles de reporte de comisión{% endblock %}
{% block module_name %}Detalles de reporte de comisión{% endblock %}

{% block module_actions %}
    <button type="button" onclick="preparePDF()" class="hover:text-hover text-strong transition-colors cursor-pointer">
            Descargar reporte
    </button>
{% endblock %}

{% block content %}

<div class="flex flex-col gap-4">

    <p class="show-for-report hidden text-2xl  text-title text-right">Reporte de comisiones</p>

    <p class="text-title text-sm">Datos generales</p>
    <hr class="border-border border">

    <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
      <span class="text-title">Ruta</span>
      <div>
        <span class="view-el">{{ settlement.route.id|upper }} - {{ settlement.route.name|title }}</span>
      </div>

      <span class="text-title">Colaborador asignado</span>
      <div>
        <span class="view-el">{{ settlement.employee.user.get_full_name|title }}</span>
      </div>

      <span class="text-title">Periodo calculado</span>
      <div>
        <span class="view-el">{{ settlement.period_start|date:"d M Y" }} al {{ settlement.period_end|date:"d M Y" }}</span>
      </div>

      <span class="text-title">Fecha de cálculo</span>
      <div>
        <span class="view-el">{{ settlement.calculated_at|date:"d M Y H:i" }}</span>
      </div>

    </div>

    <p class="text-title text-sm page-break ">Desglose de ventas</p>
    <hr class="border-border border">

    <div class=" bg-container rounded">
        <table class="w-full table-fixed border-spacing-0 border-separate">
            <thead>
                <tr class="border-b border-border">
                    <th class="p-2 min-w-40 text-center text-title">Clase de producto</th>
                    <th class="p-2 min-w-20 text-center text-title">Válido para comisión</th>
                    <th class="p-2 min-w-40 text-center text-title">Objetivo</th>
                    <th class="p-2 min-w-40 text-center text-title">Venta neta</th>
                    <th class="p-2 min-w-20 text-center text-title">Alcance</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sales_breakdown %}
                <tr class="border-b border-border">
                    <td class="p-2 text-left text-title">{{ item.class_name }}</td>
                    <td class="p-2 text-center text-title">{% if item.is_valid %}Sí{% else %}No{% endif %}</td>
                    <td class="p-2 text-right text-title">$ {{ item.target|floatformat:2|intcomma }}</td>
                    <td class="p-2 text-right text-title">$ {{ item.sales|floatformat:2|intcomma }}</td>
                    <td class="p-2 text-right text-title">{{ item.scope|floatformat:2 }} %</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="p-2 text-center text-title">No hay transacciones registradas.</td>
                </tr>
                {% endfor %}
            </tbody>


            <tfoot >
                <tr class="border-t border-border">
                    <td  class="p-2 text-left font-medium  text-title">Objetivo total</td>
                    <td class="p-2 text-left  text-title">$ {{ settlement.snapshot_target|floatformat:2|intcomma }}</td>
                </tr>

                <tr class="border-t border-border">
                    <td  class="p-2 text-left font-medium  text-title">Venta neta total</td>
                    <td class="p-2 text-left  text-title">$ {{ settlement.snapshot_net_sales|floatformat:2|intcomma }}</td>
                </tr>

                <tr class="border-t border-border">
                    <td  class="p-2 text-left font-medium  text-title">Alcance global</td>
                    <td class="p-2 text-left  text-title">{{ settlement.snapshot_global_scope|floatformat:2 }} %</td>
                </tr>

                <tr class="border-t border-border">
                    <td  class="p-2 text-left font-medium  text-title">Clases completadas</td>
                    <td class="p-2 text-left  text-title">{{ settlement.snapshot_completed_classes }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <p class="text-title text-sm page-break ">Perfíl de comisión <span class="text-blue-600 hide-for-report">({{ settlement.snapshot_profile_name|title }})</span></p>
    <hr class="border-border border">

    <div class="grid grid-cols-8 gap-2 items-center bg-container p-2 rounded">

      <span class="text-title col-span-8 border border-border p-2 text-center">Umbrales aplicables</span>

      {% for tier in tiers %}
      <span class="text-title font-medium">Alcance global <br>requerido </span>
      <span class="text-title">{{ tier.min_global_scope_pct|floatformat:2 }} %</span>
      <span class="text-title font-medium">Clases completadas <br>requeridas </span>
      <span class="text-title">{{ tier.min_completed_classes }}</span>
      <span class="text-title font-medium">Multiplicador</span>
      <span class="text-title">{{ tier.bonus_multiplier_pct|floatformat:2 }} %</span>
      <span class="text-title font-medium">Monto extra (si aplica)</span>
      <span class="text-title">$ {{ tier.extra_flat_bonus|floatformat:2|intcomma }}</span>
      {% endfor %}

      <span class="text-title col-span-8 border border-border p-2 text-center mt-2">Umbral conseguido</span>

      <span class="text-title font-medium">Alcance global <br>obtenido </span>
      <span class="text-title">{{ settlement.snapshot_global_scope|floatformat:2 }} %</span>
      <span class="text-title font-medium">Clases completadas <br>reales </span>
      <span class="text-title">{{ settlement.snapshot_completed_classes }}</span>
      <span class="text-title font-medium">Multiplicador</span>
      <span class="text-title">{{ multiplier|floatformat:2 }} %</span>
      <span class="text-title font-medium">Monto extra (si aplica)</span>
      <span class="text-title">$ {{ extra_flat|floatformat:2|intcomma }}</span>

    </div>

<p class="text-title text-sm mt-4 page-break">Excepciones aplicables</p>
    <hr class="border-border border">

    <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        {% if exception %}
            <span class="text-title">Motivo / Notas</span>
            <div>
                <span class="view-el">{{ exception.notes|title }}</span>
            </div>

            <span class="text-title">Vigencia</span>
            <div>
                <span class="view-el">{{ exception.start_date|date:"d M Y" }} al {{ exception.end_date|date:"d M Y" }}</span>
            </div>

            <span class="text-title">Tolerancia de alcance agregada</span>
            <div>
                <span class="view-el">+ {{ exception.scope_tolerance_pct|floatformat:2 }} %</span>
            </div>

            <span class="text-title">Bono garantizado</span>
            <div>
                <span class="view-el">
                    {% if exception.guaranteed_flat_bonus %}
                        $ {{ exception.guaranteed_flat_bonus|floatformat:2|intcomma }}
                    {% else %}
                        N/A
                    {% endif %}
                </span>
            </div>
        {% else %}
            <span class="text-title col-span-2 text-center text-gray-500 py-2">No hubo excepciones aplicadas en este periodo.</span>
        {% endif %}
    </div>

    <p class="text-title text-sm ">Cálculo final</p>
    <hr class="border-border border">

    <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
      <span class="text-title">Venta neta total</span>
      <div>
        <span class="view-el">$ {{ settlement.snapshot_net_sales|floatformat:2|intcomma }}</span>
      </div>

      <span class="text-title">Bono base {% if bonus_type == 'f' %}(Fijo){% else %}(Variable){% endif %}</span>
      <div>
        <span class="view-el">{{ formatted_base_bonus }}</span>
      </div>
      <hr class="col-span-2 mb-4 border border-border">


      <span class="text-title">Bono potencial</span>
      <div>
        <span class="view-el">$ {{ potential_bonus|floatformat:2|intcomma }}</span>
      </div>

      <span class="text-title">Multiplicador</span>
      <div>
        <span class="view-el">X {{ multiplier|default:0|floatformat:2|intcomma }} %</span>
      </div>

      {% if exception and exception.guaranteed_flat_bonus %}
      <span class="text-title">Bono garantizado (Excepción)</span>
      <div>
        <span class="view-el">$ +{{ exception.guaranteed_flat_bonus|floatformat:2|intcomma }}</span>
      </div>
      {% endif %}


      <hr class="col-span-2 mb-4 border border-border">

      <span class="text-title">Bono obtenido (Sin ajuste)</span>
      <div>
        <span class="view-el">$ {{ obtained_bonus|floatformat:2|intcomma }}</span>
      </div>

      <span class="text-title">Ajustes manuales (si aplica)</span>
      <div>
        <span class="view-el">$ {{ settlement.manual_adjustment|floatformat:2|intcomma }}</span>
      </div>

      <hr class="col-span-2 mb-4 border border-border">

      <span class="text-title ">Conversión final</span>
      <div>
        <span class="view-el  text-lg text-blue-600">$ {{ settlement.final_calculated_bonus|floatformat:2|intcomma }}</span>
      </div>

    </div>

</div>

<script>
    function preparePDF() {

        const show_for_report = document.querySelectorAll(".show-for-report");
        show_for_report.forEach(el => {
            el.classList.remove("hidden");
        });

        setTimeout(() => {
            window.print();
        }, 800);

    }

    const mediaQueryList = window.matchMedia('print');

    mediaQueryList.addEventListener('change', (mql) => {
        if (!mql.matches) {
            const show_for_report = document.querySelectorAll(".show-for-report");
            show_for_report.forEach(el => {
                el.classList.add("hidden");
            });
        }
    });
</script>
{% endblock %}