{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Detalle del departamento
{% endblock %}

{% block module_name %}
Detalle del departamento
{% endblock %}

{% block module_actions %}
    {% if can_update_access %}
    <a href="{% url 'human_resources:department_update' department_instance.id %}" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0" title="Editar departamento">
        Editar
    </a>
    {% endif %}
{% endblock module_actions %}

{% block content %}
<div class="flex flex-col gap-4">

    <p class="text-title text-sm">Información del departamento</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">

        <span class="text-title">ID</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.id|upper }}
        </div>

        <span class="text-title">Nombre</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.name|title }}
        </div>

        <span class="text-title self-start mt-2">Descripción</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.description|default:"-" }}
        </div>
    </div>

    <p class="text-title text-sm mt-4">Estadísticas relacionadas</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title">Posiciones asociadas</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.human_resources_positions.all|length }}
        </div>

        <span class="text-title">Colaboradores activos</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.active_employees_count|default:0|intcomma }}
        </div>

        <span class="text-title">Colaboradores inactivos</span>
        <div class="w-full text-body flex items-center">
            {{ department_instance.inactive_employees_count|default:0|intcomma }}
        </div>

        <span class="text-title">Colaboradores asociados</span>
        <div class="w-full text-body flex items-center">
            <a href="{% url 'human_resources:employees' %}?q={{ department_instance.id }}" class="text-strong hover:text-hover transition-colors flex items-center gap-1 underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                Ver todos los colaboradores asociados
            </a>
        </div>
    </div>

</div>

{% endblock %}
