{% extends 'base.html' %}
{% load humanize widget_tweaks %}

{% block module_name %}
Departamentos
{% endblock %}

{% block module_actions %}
  {% if available_actions %}
    {% include available_actions %}
  {% endif %}
{% endblock %}


{% block content %}

    <div class="flex flex-col gap-4">
        <p class="text-title text-sm pb-2 border-b border-border">Información general</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
            <span class="text-title">Identificador</span>
            <div class="w-full  text-body  flex items-center">
                {{ department.id|default:"-"|upper }}
            </div>

            <span class="text-title">Nombre</span>
            <div class="w-full  text-body  flex items-center">
                {{ department.name|default:"-"|title }}
            </div>

            <span class="text-title">Descripción</span>
            <div class="w-full text-body italic whitespace-pre-line">
                {{ department.description|default:"-"|title|linebreaksbr }}
            </div>
        </div>

        <p class="text-title text-sm pb-2 border-b border-border">Desglose</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
            <span class="text-title md:col-span-2">{{ department.associated_positions_count|default:0|floatformat:0|intcomma }} posicion(es) registrada(s)</span>

            <ul class="md:col-span-2 w-full max-h-48 overflow-y-auto rounded bg-page p-1 flex flex-col gap-2 border border-border">
                {% for p in positions %}
                	<li class="pb-1 border-b border-border last:border-b-0 last:pb-0">
                        <p class="font-medium text-body">{{ p.id|default:'-'|upper }} - {{ p.name|default:'-'|title }}</p>
                        <p class="italic text-xs text-secondary">Nivel de jerarquía: {{ p.get_hierarchy_level_display|default:'-'|title }}</p>
                    </li>
                {% empty %}
                    <li class="">
                        {% include 'layouts/data_not_found.html' %}
                    </li>
                {% endfor %}
            </ul>

            <span class="text-title md:col-span-2">{{ department.associated_active_employees_count|default:0|floatformat:0|intcomma }} colaborador(es) activo(s)</span>

            <ul class="md:col-span-2 w-full max-h-48 overflow-y-auto rounded bg-page p-1 flex flex-col gap-2 border border-border">
                {% for e in active_employees %}
                	<li class="pb-1 border-b border-border last:border-b-0 last:pb-0">
                        <p class="font-medium text-body">{{ e.id|default:'-'|upper }}   {{ e.user.first_name|default:'-'|title }} {{ e.user.last_name|default:'-'|title }}</p>
                        <p class="italic text-xs text-secondary">Posición: {{ e.position.name|default:'-'|title }}</p>
                    </li>
                {% empty %}
                    <li class="">
                        {% include 'layouts/data_not_found.html' %}
                    </li>
                {% endfor %}
            </ul>

            <span class="text-title md:col-span-2">{{ department.associated_inactive_employees_count|default:0|floatformat:0|intcomma }} colaborador(es) inactivo(s)</span>
            <ul class="md:col-span-2 w-full max-h-48 overflow-y-auto rounded bg-page p-1 flex flex-col gap-2 border border-border">
                {% for e in inactive_employees %}
                	<li class="pb-1 border-b border-border last:border-b-0 last:pb-0">
                        <p class="font-medium text-body">{{ e.id|default:'-'|upper }}   {{ e.user.first_name|default:'-'|title }} {{ e.user.last_name|default:'-'|title }}</p>
                        <p class="italic text-xs text-secondary">Posición: {{ e.position.name|default:'-'|title }}</p>
                    </li>
                {% empty %}
                    <li class="">
                        {% include 'layouts/data_not_found.html' %}
                    </li>
                {% endfor %}
            </ul>
        </div>



    </div>
	
{% endblock %}