{% extends 'base.html' %}
{% load humanize %}

{% block title %}Detalles de producto{% endblock %}

{% block module_name %}Detalles de producto{% endblock %}


{% block content %}

  <div class="flex flex-col gap-4">

    <p class="text-title text-sm">Atributos</p>
    <hr class="border-border border">

    <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
      <span class="text-title">ID</span>
      <div>
        <span class="view-el">{{ product.id|upper }}</span>
      </div>

      <span class="text-title">Producto</span>
      <div>
        <span class="view-el">{{ product.name|title }}</span>
      </div>

      <span class="text-title">Código de barras</span>
      <div>
        <span class="view-el">{{ product.barcode|upper }}</span>
      </div>

      <span class="text-title">Unidad de medida</span>
      <div>
        <span class="view-el">{{ product.unit_of_measure|default:'-'|title }}</span>
      </div>

      <span class="text-title">Precio</span>
      <div>
        <span class="view-el">{{ product.price|default:0.0|floatformat:2 }}</span>
      </div>

      <span class="text-title">Costo</span>
      <div>
        <span class="view-el">{{ product.cost|default:0.0|floatformat:2 }}</span>
      </div>


        <span class="text-title">Clase</span>
      <div>
        <span class="view-el">{{ product.product_class.name|title }}</span>
      </div>

        <span class="text-title">Categoría</span>
      <div>
        <span class="view-el">{{ product.product_class.product_category.name|title }}</span>
      </div>


  </div>



{% endblock %}


{% block extra_js %}
<script>
  function toggleEditMode() {
    document.querySelectorAll('.view-el').forEach(el => el.classList.toggle('hidden'));
    document.querySelectorAll('.edit-el').forEach(el => el.classList.toggle('hidden'));

    document.getElementById('btn-edit').classList.toggle('hidden');
    document.getElementById('btn-cancel').classList.toggle('hidden');
    document.getElementById('btn-save').classList.toggle('hidden');
  }
</script>

{% endblock %}