{% extends 'base.html' %}
{% load humanize %}

{% block title %}Usuarios{% endblock %}

{% block module_name %}Usuarios{% endblock %}

{% block module_actions %}

<a href="{% url 'core:create_user' %}" class="hover:text-hover text-strong transition-colors cursor-pointer">Nuevo usuario</a>

{% endblock %}


{% block content %}

    {% for user in users %}
        <div>
            {{ user.username }}
        </div>
    {% empty %}
        <p>No hay usuarios registrados</p>
    {% endfor %}

{% endblock %}