{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}?v={% now 'YmdHis' %}">
    <title>Error interno del servidor</title>
    <link rel="icon" type="image/png" href="https://media.datall.com.mx/static/favicon.ico">
    <script>
        const savedTheme = localStorage.getItem('theme');
        const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        if (savedTheme === 'dark' || (!savedTheme && systemPrefersDark)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>

<body class="min-h-dvh flex flex-col bg-page text-xs font-normal text-body antialiased transition-colors duration-300">
    <main class="flex-grow flex items-center justify-center p-4">
        <div class="my-auto mx-auto flex flex-col items-center justify-center h-[300px] gap-4">
            <p class="flex items-center gap-2 text-title text-base">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-red-600 lucide lucide-globe-x-icon lucide-globe-x"><path d="m16 3 5 5"/><path d="M2 12h20A10 10 0 1 1 12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 4-10"/><path d="m21 3-5 5"/></svg>
                Ocurrió un error inesperado en el servidor.
            </p>
            <p class="text-body text-center">
                Estamos trabajando para solucionarlo.<br>Por favor, intenta nuevamente más tarde o comunícate a soporte.
            </p>

            <div class="flex flex-col gap-4 items-center justify-center w-64 mt-4">
                <a href="{{ LOGIN_REDIRECT_URL|default:'/' }}" class="p-2 flex items-center justify-center gap-2 bg-container text-strong hover:bg-hover border border-border rounded w-full transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
                    Volver al inicio
                </a>
            </div>
        </div>
    </main>
</body>

</html>
