{% extends 'base.html' %}

{% block title %}Personal{% endblock %}

{% block module_name %}Personal{% endblock %}

{% block module_actions %}
    <form action="." method="GET" class="flex gap-2 items-center bg-page border border-border rounded p-1 text-body">
        <input type="text" placeholder="Buscar empleado..." name="q" value="{{ current_filters.q }}" class="focus:outline-none bg-page">
        <button type="submit" class="hover:text-hover cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
        </button>
    </form>

    <a href="{% url 'human_resources:employee_create' %}" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0">Nuevo colaborador</a>
{% endblock %}

{% block content %}
    <div class="w-full overflow-x-auto border border-border rounded bg-container">
        <table class="w-full table-fixed text-left border-collapse">
            <thead>
            <tr class="border-b border-border">
                <th class="w-40 p-1 text-center text-title">Colaborador</th>
                <th class="w-40 p-1 text-center text-title">Posición Actual</th>
                <th class="w-40 p-1 text-center text-title">Gerencia</th>
                <th class="w-40 p-1 text-center text-title">Líder directo</th>
                <th class="w-60 p-1 text-center text-title">Email</th>
            </tr>
            </thead>

            <tbody>
            {% for u in users %}
            <tr class="hover:bg-hover transition-colors duration-300">
                <td class="p-2">
                    <a href="{% url 'human_resources:employee' u.id %}" target="_blank" class="flex items-center gap-2 underline text-strong">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                        <span>{{ u.first_name|title }} {{ u.last_name|title }}</span>
                    </a>
                </td>
                
                {% with active_employee=u.active_employee_records|first %}
                <td class="p-2 text-center truncate">
                    {% if active_employee %}
                        {{ active_employee.position.name|title|default:"-" }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="p-2 text-center truncate">
                    {% if active_employee and active_employee.warehouse %}
                        {{ active_employee.warehouse.name|title }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="p-2 text-center truncate">
                    {% if active_employee and active_employee.manager and active_employee.manager.user %}
                        {{ active_employee.manager.user.first_name|title }} {{ active_employee.manager.user.last_name|title }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                {% endwith %}
                
                <td class="p-2 text-center truncate">{{ u.email|default:"-" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
