{% extends 'base.html' %}
{% block title %}Asignar Posición{% endblock %}

{% block module_name %}Nuevo colaborador{% endblock %}


{% block module_actions %}
<button type="submit" form="create-employee-form" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
    <span>Confirmar Asignación</span>
</button>

<a href="{% url 'human_resources:employees' %}" class="hover:text-hover text-red-700 transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
    <span>Cancelar</span>
</a>
{% endblock %}

{% block content %}
<form id="create-employee-form" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-col gap-6">

        <div class="flex flex-col gap-4">
            <div>

                <p class="text-title text-sm">Asignación</p>
                <hr class="border-border border">
            </div>

            <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">

                <label class="text-title">Persona asignada *</label>
                <select name="user_id" class="w-full border border-border rounded p-1 text-body focus:outline-none" required>
                    <option value="">Seleccione...</option>
                    {% for u in all_users %}
                        <option value="{{ u.id }}" {% if request.GET.user_id == u.id|stringformat:"s" %}selected{% endif %}>
                            {{ u.first_name|title }} {{ u.last_name|title }} ({{ u.username }})
                        </option>
                    {% endfor %}
                </select>


                <label class="text-title">Posición *</label>
                <select name="position_id" class="w-full border border-border rounded p-1 text-body focus:outline-none" required>
                    <option value="">Seleccione...</option>
                    {% for pos in all_positions %}
                        <option value="{{ pos.id }}">{{ pos.name|title }}</option>
                    {% endfor %}
                </select>

                
                <label class="text-title">Líder directo (Reporta a)</label>
                <select name="manager_id" class="w-full border border-border rounded p-1 text-body focus:outline-none">
                    <option value="">Sin líder directo...</option>
                    {% for mgr in all_managers %}
                        <option value="{{ mgr.id }}">{{ mgr.user.first_name|title }} {{ mgr.user.last_name|title }}: {{ mgr.position.name|title }}</option>
                    {% endfor %}
                </select>



                <label class="text-title">Gerencia *</label>
                <select name="warehouse_id" class="w-full border border-border rounded p-1 text-body focus:outline-none" required>
                    <option value="">Seleccione...</option>
                    {% for wh in all_warehouses %}
                        <option value="{{ wh.id }}">{{ wh.name|title }}</option>
                    {% endfor %}
                </select>
            </div>
            
        </div>

        <div class="flex flex-col gap-4">
            <div>

                <p class="text-title text-sm">Contratación</p>
                <hr class="border-border border">
            </div>

            <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">


                <label class="text-title">Fecha de ingreso *</label>
                <input type="date" name="hire_date" class="w-full  border border-border rounded p-1 text-body focus:outline-none" required>

                <label class="text-title">Régimen Fiscal</label>
                <select name="tax_system_id" class="w-full  border border-border rounded p-1 text-body focus:outline-none">
                    <option value="">Seleccione...</option>
                    {% for tax in all_tax_systems %}
                        <option value="{{ tax.id }}">{{ tax.name|title }}</option>
                    {% endfor %}
                </select>

                <label class="text-title">Tipo de compensación</label>
                <select name="payroll_type_id" class="w-full  border border-border rounded p-1 text-body focus:outline-none">
                    <option value="">Seleccione...</option>
                    {% for ptype in all_payroll_types %}
                        <option value="{{ ptype.id }}">{{ ptype.name|title }}</option>
                    {% endfor %}
                </select>

                <label class="text-title">Periodicidad</label>
                <select name="payroll_periodicity_id" class="w-full  border border-border rounded p-1 text-body focus:outline-none">
                    <option value="">Seleccione...</option>
                    {% for period in all_periodicities %}
                        <option value="{{ period.id }}">{{ period.name|title }}</option>
                    {% endfor %}
                </select>
    
    
                <label class="text-title">Sueldo Base</label>
                <input type="number" step="0.01" min="0" name="payroll_amount" placeholder="0.00" class="w-full  border border-border rounded p-1 text-body focus:outline-none">
                
            </div>


        </div>
        
    </div>
</form>
{% endblock %}
