{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{% if creating %}
Nuevo colaborador
{% else %}
Editar colaborador
{% endif %}
{% endblock %}

{% block module_name %}
{% if creating %}
Nuevo colaborador
{% else %}
Editar colaborador
{% endif %}
{% endblock %}


{% block module_actions %}
        <a href="{% url 'human_resources:position_create_view' %}?next={{ request.path }}" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0" title="Crear nueva habilidad">
            Nuevo puesto
        </a>

        <a href="{% url 'human_resources:department_create' %}?next={{ request.path }}" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0" title="Crear nueva habilidad">
            Nuevo departamento
        </a>
{% endblock %}


{% block content %}

<form method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="p-2 bg-red-500/10 border border-red-500/30 rounded text-red-500 text-xs flex flex-col gap-1">
        {% for error in form.non_field_errors %}
        <p class="font-medium">• {{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <p class="text-title text-sm">Información de la asignación</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        
        <span class="text-title flex items-center gap-1">ID</span>
        <div>
            {% render_field form.id class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' placeholder='Identificador del colaborador (dejar en blanco para autogeneración)' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.id.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Persona/usuario a cargo
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.user class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.user.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Puesto a asignar
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div class="mt-2">
            {% render_field form.position class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' rows='4' placeholder='Descripción detallada (opcional)' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.position.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Líder directo</span>
        <div>
            {% render_field form.manager class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.manager.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    <p class="text-title text-sm">Información de la contratación</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">

        <span class="text-title flex items-center gap-1">Fecha de contratación
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.hire_date class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' type='date' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.hire_date.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Fecha de baja</span>
        <div>
            {% render_field form.termination_date class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' type='date' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.termination_date.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Tipo de contrato</span>
        <div>
            {% render_field form.contract_type class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.contract_type.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Documento de contrato</span>
        <div>
            {% render_field form.contract_doc class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.contract_doc.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

    </div>

    <p class="text-title text-sm">Información de pago y compensación</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title flex items-center gap-1">Constancia de situación fiscal</span>
        <div>
            {% render_field form.tax_doc class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.tax_doc.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Régimen fiscal</span>
        <div>
            {% render_field form.tax_regime class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.tax_regime.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Registro Federal de Contribuyentes (RFC)</span>
        <div>
            {% render_field form.tax_id class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.tax_id.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Registro Federal de Contribuyentes (RFC)</span>
        <div>
            {% render_field form.tax_id class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.tax_id.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Forma de pago</span>
        <div>
            {% render_field form.payment_form class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.payment_form.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Monto del pago/compensación</span>
        <div>
            {% render_field form.payroll_payment_amount class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.payroll_payment_amount.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Periodicidad del pago/compensación</span>
        <div>
            {% render_field form.payroll_frequency class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.payroll_frequency.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <button type="submit"
            class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
            Confirmar
        </button>
        <a href="{{ request.GET.next|default:request.META.HTTP_REFERER|default:'/' }}"
            class=" border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            Cancelar
        </a>
    </div>

</form>

{% endblock %}


