{% extends 'base.html' %}
{% load humanize %}

{% block title %}Referencias{% endblock %}

{% block module_name %}Referencias{% endblock %}

{% block module_actions %}

<a href="#" id="downloadReport" class="hover:text-hover text-body transition-colors cursor-pointer">Nueva referencia</a>

<a href="#" id="downloadReport" class="hover:text-hover text-body transition-colors cursor-pointer">Descargar datos</a>

<button onclick="toggleFilters()"
    class="hover:text-hover text-body transition-colors cursor-pointer flex items-center gap-1 border border-border rounded p-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal">
        <path d="M10 5H3" />
        <path d="M12 19H3" />
        <path d="M14 3v4" />
        <path d="M16 17v4" />
        <path d="M21 12h-9" />
        <path d="M21 19h-5" />
        <path d="M21 5h-7" />
        <path d="M8 10v4" />
        <path d="M8 12H3" />
    </svg>
    <span>
        Filtrar
    </span>
</button>

{% endblock %}


{% block content %}

<div class="flex flex-col w-full gap-4">
    <div class="">
        <p class="text-title text-sm mb-2">Mapeo de columnas para importaciones</p>
        <hr class="border-border mb-4">
        
        <div class="w-full overflow-auto max-h-100 border border-border rounded bg-container">
            <table class="w-full table-auto text-left border-separate border-spacing-0">
                <thead>
                    <tr class="">
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Módulo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Tabla destino</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Valor crudo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Valor homologado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ref in column_mappings %}
                    <tr class="hover:bg-hover transition-colors">
                        <td class="p-1 text-left text-body border border-border">{{ ref.module.name|title }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.content_type.model|title }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.key }}</td>
                        <td class="p-1 text-left border border-border text-blue-600 font-medium">{{ ref.reference }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="p-4 text-center text-body border border-border">No hay datos para mostrar</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="">
        <p class="text-title text-sm mb-2">Mapeo de valores para importaciones</p>
        <hr class="border-border mb-4">

        <div class="w-full overflow-auto max-h-100 border border-border rounded bg-container mb-8">
            <table class="w-full table-auto text-left border-separate border-spacing-0">
                <thead>
                    <tr class="">
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Módulo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Tabla destino</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Contexto / Tipo de valor</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Valor crudo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Valor homologado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ref in value_mappings %}
                    <tr class="hover:bg-hover transition-colors">
                        <td class="p-1 text-left text-body border border-border">{{ ref.module.name|title }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.content_type.model|title }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.field_context }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.key }}</td>
                        <td class="p-1 text-left border border-border text-green-600 font-medium">{{ ref.reference }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="p-4 text-center text-body border border-border">No hay datos para mostrar</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="">
        <p class="text-title text-sm mb-2">Clases de productos relevantes</p>
        <hr class="border-border mb-4">

        <div class="w-full overflow-auto max-h-100 border border-border rounded bg-container mb-8">
            <table class="w-full table-auto text-left border-separate border-spacing-0">
                <thead>
                    <tr class="">
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Módulo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Clave</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">ID de clase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ref in relevant_product_classes %}
                    <tr class="hover:bg-hover transition-colors">
                        <td class="p-1 text-left text-body border border-border">{{ ref.module.name|title }}</td>
                        <td class="p-1 text-left text-body border border-border">{{ ref.key }}</td>
                        <td class="p-1 text-left border border-border text-yellow-600 font-medium">{{ ref.reference }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="p-4 text-center text-body border border-border">No hay datos para mostrar</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="">
        <p class="text-title text-sm mb-2">Acceso y permisos sobre rutas de vendedores</p>
        <hr class="border-border mb-4">

        <div class="w-full overflow-auto max-h-100 border border-border rounded bg-container mb-8">
            <table class="w-full table-auto text-left border-separate border-spacing-0">
                <thead>
                    <tr class="">
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Módulo</th>
                        <th class="min-w-[150px] p-1 text-center text-title border border-border sticky top-0 bg-page">Rol / Grupo (Key)</th>
                        <th class="p-1 min-w-[150px] text-center text-title border border-border sticky top-0 bg-page">Rutas permitidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ref in route_permissions %}
                    <tr class="hover:bg-hover transition-colors">
                        <td class="p-1  text-left text-body border border-border">{{ ref.module.name|title }}</td>
                        <td class="p-1  text-left text-body border border-border">{{ ref.key|title }}</td>
                        <td class="p-1  text-left border border-border text-body">
                            {% if ref.reference == '1' %}
                                Todas
                            {% else %}
                                Propias
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="p-4 text-center text-body border border-border">No hay datos para mostrar</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}



