{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{% if creating %}
Nuevo reporte
{% else %}
Editar reporte
{% endif %}
{% endblock %}

{% block module_name %}
{% if creating %}
Nuevo reporte
{% else %}
Editar reporte
{% endif %}
{% endblock %}

{% block module_actions %}
{% endblock %}

{% block content %}

<form method="POST" class="flex flex-col gap-4">
    {% csrf_token %}

    <p class="text-title text-sm">Información del reporte</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <!-- <span class="text-title flex items-center gap-1">ID (Opcional)</span>
        <div>
            {% render_field form.id class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' placeholder='Auto-generado si está en blanco' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.id.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div> -->

        <span class="text-title flex items-center gap-1">Nombre
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.name class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' placeholder='Nombre del reporte' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.name.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Versión</span>
        <div>
            {% render_field form.version class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' placeholder='Ej. 1.0' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.version.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Periodicidad
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.periodicity class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.periodicity.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">¿Está activo?</span>
        <div>
            {% render_field form.is_active class='w-4 h-4 text-strong bg-page border-border rounded focus:ring-strong cursor-pointer' %}
        </div>
    </div>

    <div class="flex items-center justify-between mt-4">
        <p class="text-title text-sm">Preguntas del reporte</p>
        <button type="button" id="add-question-form" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
            Agregar pregunta
        </button>
    </div>
    <hr class="border-border border">
    
    {{ formset.management_form }}
    
    <div id="formset-container" class="flex flex-col gap-4">
        {% for form in formset %}
        <div class="question-form grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr_1fr_auto] gap-2 items-center bg-container p-2 rounded relative">
            
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Pregunta base</span>
                {% render_field form.question class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>
            
            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Orden</span>
                {% render_field form.order class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Nivel objetivo (Opcional)</span>
                {% render_field form.hierarchy_level class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Posición objetivo (Opcional)</span>
                {% render_field form.position class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>
            
            <div class="flex items-center justify-center pt-5">
                {% if formset.can_delete %}
                    <label class="hidden">Eliminar: {{ form.DELETE }}</label>
                {% endif %}
                <button type="button" class="remove-question-form text-red-500 hover:text-red-700 transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
                </button>
            </div>
            
        </div>
        {% endfor %}
    </div>

    <!-- Template for new dynamic forms -->
    <div id="empty-form" class="hidden">
        <div class="question-form grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr_1fr_auto] gap-2 items-center bg-container p-2 rounded relative mt-2">
            
            {% for hidden in formset.empty_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Pregunta base</span>
                {% render_field formset.empty_form.question class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>
            
            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Orden</span>
                {% render_field formset.empty_form.order class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Nivel objetivo (Opcional)</span>
                {% render_field formset.empty_form.hierarchy_level class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>

            <div class="flex flex-col gap-1">
                <span class="text-title text-xs">Posición objetivo (Opcional)</span>
                {% render_field formset.empty_form.position class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' %}
            </div>
            
            <div class="flex items-center justify-center pt-5">
                {% if formset.can_delete %}
                    <label class="hidden">Eliminar: {{ formset.empty_form.DELETE }}</label>
                {% endif %}
                <button type="button" class="remove-question-form text-red-500 hover:text-red-700 transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus-icon lucide-circle-minus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/></svg>
                </button>
            </div>
        </div>
    </div>


    <div class="flex flex-col gap-2 mt-4">
        <button type="submit"
            class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
            Confirmar
        </button>
        <a href="{% url 'human_resources:monitoring_form_list_view' %}"
            class=" border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            Cancelar
        </a>
    </div>

</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addButton = document.getElementById("add-question-form");
        const formsetContainer = document.getElementById("formset-container");
        const emptyFormTemplate = document.getElementById("empty-form").innerHTML;
        const totalFormsInput = document.getElementById("id_human_resources_form_questions-TOTAL_FORMS");
        
        addButton.addEventListener("click", function () {
            const formCount = parseInt(totalFormsInput.value);
            const newFormHtml = emptyFormTemplate.replace(/__prefix__/g, formCount);
            
            formsetContainer.insertAdjacentHTML('beforeend', newFormHtml);
            totalFormsInput.value = formCount + 1;
        });
        
        formsetContainer.addEventListener("click", function (e) {
            let removeButton = e.target.closest('.remove-question-form');
            if (removeButton) {
                const qForm = removeButton.closest('.question-form');
                
                const deleteInput = qForm.querySelector('input[name$="-DELETE"]');
                if (deleteInput) {
                    deleteInput.checked = true;
                    qForm.style.display = 'none';
                } else {
                    qForm.remove();
                }
            }
        });
    });
</script>

{% endblock %}
