{% load humanize %}

{% for product in products %}
    <tr class="hover:bg-hover transition-colors duration-300"
        {% if forloop.last and page_obj.has_next %}
            hx-get="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"
            hx-trigger="revealed"
            hx-swap="afterend"
        {% endif %}
    >
        <td class="p-2">
            <a href="{% url 'sales:product' product.id %}" target="_blank" class="flex items-center gap-2 underline text-strong">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                <span>
                    {{ product.id|upper }}
                </span>
            </a>
        </td>
        <td class="p-2 truncate">{{ product.name|title|default:"-" }}</td>
        <td class="p-2 ">{{ product.barcode|default:'No asignado' }}</td>
        <td class="p-2 ">$ {{ product.price|default:0.0|intcomma|floatformat:2 }}</td>
        <td class="p-2 ">$ {{ product.cost|default:0.0|intcomma|floatformat:2 }}</td>
        <td class="p-2 ">{{ product.unit_of_measure|title|default:"-" }}</td>
        <td class="p-2 ">{{ product.product_class.name|title|default:"-" }}</td>
        <td class="p-2 ">{{ product.product_class.product_category.name|title|default:"-" }}</td>
    </tr>

{% empty %}
    <tr>
        <td colspan="8" class="text-center text-title p-2">No hay datos para mostrar.</td>
    </tr>
{% endfor %}
