{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{% if updating %}
Editar centro de distribución
{% else %}
Nuevo centro de distribución
{% endif %}
{% endblock %}

{% block module_name %}
{% if updating %}
Editar centro de distribución
{% else %}
Nuevo centro de distribución
{% endif %}
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
    {% csrf_token %}

    <p class="text-title text-sm">Información general</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title flex items-center gap-1">Identificador
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% if updating %}
                {% render_field form.id class='w-full bg-page border border-border rounded p-1 text-secondary cursor-not-allowed font-mono' readonly='readonly' %}
            {% else %}
                {% render_field form.id class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 font-mono' placeholder='Ej: CEDIS-GDL, ALM-01' required='required' %}
            {% endif %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.id.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Nombre
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.name class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1' placeholder='Ingresa el nombre del centro' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.name.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Tipo de centro
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.warehouse_type class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 text-title' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.warehouse_type.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <button type="submit"
            class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
            Confirmar
        </button>
        <a href="{% if updating %}{% url 'sales:warehouse_detail_view' updating.pk %}{% else %}{% url 'sales:warehouse_list_view' %}{% endif %}"
            class="border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            Cancelar
        </a>
    </div>

</form>

{% endblock %}
