{% extends 'base.html' %}
{% load humanize widget_tweaks %}

{% block title %}
    Desglose mensual de ventas
{% endblock %}

{% block module_name %}
    Desglose mensual de ventas
{% endblock %}

{% block module_actions %}
    {% if available_actions %}
        {% include available_actions %}
    {% endif %}

    <a href="{% url 'analytics:monthly_sale_breakdown_export_view' %}{% if query_string %}?{{ query_string }}{% endif %}" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0 flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-to-line-icon lucide-arrow-down-to-line"><path d="M12 17V3"/><path d="m6 11 6 6 6-6"/><path d="M19 21H5"/></svg>
        <span>
            Exportar
        </span>
    </a>

    <button onclick="toggleFilters()" class="hover:text-hover transition-colors cursor-pointer shrink-0 flex items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal"> <path d="M10 5H3" /><path d="M12 19H3" /><path d="M14 3v4" /><path d="M16 17v4" /><path d="M21 12h-9" /><path d="M21 19h-5" /><path d="M21 5h-7" /><path d="M8 10v4" /><path d="M8 12H3" /></svg>
        <span>
            Filtrar
        </span>
    </button>
{% endblock %}

{% block filters %}
    {% include 'analytics/monthly_sale_breakdown/partials/monthly_sale_breakdown__filters.html' %}
{% endblock %}

{% block content %}
<div class="flex flex-col w-full gap-6">

    {% include 'analytics/monthly_sale_breakdown/partials/monthly_sale_breakdown__info.html' %}

    {% for data in breakdown_data %}
        <div class="flex flex-col gap-3">
            <div class="pb-1 border-b border-border flex items-center justify-between">
                <p class="text-title font-semibold text-xs">
                    {{ data.business_unit_name|title }} ({{ selected_year }})
                </p>
                <span class="text-xs text-muted">
                    {{ data.routes|length }} ruta{{ data.routes|length|pluralize }}
                </span>
            </div>

            {% for route in data.routes %}
                <div class="w-full overflow-x-auto border border-border rounded bg-container mb-4 shadow-xs">
                    <table class="min-w-max text-left border-separate border-spacing-0 text-xs">
                        <thead>
                            <tr class="border-b border-border bg-page">
                                <th colspan="2" class="sticky left-0 z-20 p-1 bg-page border-r border-b border-border text-center">
                                    {% if route.route_id == 'TOTAL' %}
                                        <span class="flex items-center justify-center gap-1 text-title font-semibold">
                                            <span>Total {{ route.route_name|title }}</span>
                                        </span>
                                    {% else %}
                                        <a href="{% url 'analytics:route_kpis_view' %}?route={{ route.route_id }}" target="_blank" class="flex items-center justify-center gap-1 underline text-title font-medium hover:text-hover">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 12A10 10 0 1 1 12 2" /><path d="M22 2 12 12" /><path d="M16 2h6v6" /></svg>
                                            <span>{{ route.route_id|upper }} {{ route.route_name|title }}</span>
                                        </a>
                                    {% endif %}
                                </th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Enero {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Febrero {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Marzo {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Abril {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Mayo {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Junio {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Julio {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Agosto {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Septiembre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Octubre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Noviembre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border-r border-b border-border text-center text-title font-medium bg-page">Diciembre {{ selected_year }}</th>
                            </tr>

                            <tr class="border-b border-border bg-muted/5 text-xs">
                                <th class="sticky left-0 z-20 w-24 p-1 bg-page border-r border-b border-border text-center text-title font-medium">Ruta</th>
                                <th class="sticky left-24 z-20 w-44 p-1 bg-page border-r border-b border-border text-left text-title font-medium">Clase</th>

                                {% for _ in "123456789012" %}
                                    <th class="w-32 p-1 border-r border-b border-border text-center text-title font-medium">Objetivo</th>
                                    <th class="w-32 p-1 border-r border-b border-border text-center text-title font-medium">Venta</th>
                                    <th class="w-32 p-1 border-r border-b border-border text-center text-title font-medium">Alcance</th>
                                    <th class="w-32 p-1 border-r border-b border-border text-center text-title font-medium">Diferencia</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody class="divide-y divide-border">
                            {% for product_class in route.product_classes %}
                                <tr class="hover:bg-hover transition-colors duration-200">
                                    <td class="sticky left-0 z-10 p-1 bg-container border-r border-border text-center text-muted">
                                        {{ route.route_id|title }}
                                    </td>
                                    <td class="sticky left-24 z-10 p-1 bg-container border-r border-border truncate text-title">
                                        {{ product_class.name|title }}
                                    </td>

                                    {% for month_data in product_class.monthly_data %}
                                        <td class="p-1 text-right border-r border-border text-title">$ {{ month_data.target|floatformat:2|intcomma }}</td>
                                        <td class="p-1 text-right border-r border-border text-title font-medium">$ {{ month_data.net_sale|floatformat:2|intcomma }}</td>
                                        <td class="p-1 text-right border-r border-border text-title">{{ month_data.scope|floatformat:2|intcomma }}%</td>
                                        <td class="p-1 text-right border-r border-border font-medium {% if month_data.diff < 0 %}text-red-500{% else %}text-emerald-500{% endif %}">
                                            $ {{ month_data.diff|floatformat:2|intcomma }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            <tr class="bg-muted/10 font-semibold border-t-2 border-border">
                                <td class="sticky left-0 z-10 p-1 bg-container border-r border-border text-center text-title font-semibold">
                                    
                                </td>
                                <td class="sticky left-24 z-10 p-1 bg-container border-r border-border text-title font-semibold border-b ">
                                    Total clases
                                </td>

                                {% for month_data in route.total.monthly_data %}
                                    <td class="p-1 text-right border-r border-b border-border text-title font-semibold">$ {{ month_data.target|floatformat:2|intcomma }}</td>
                                    <td class="p-1 text-right border-r border-b border-border text-title font-semibold">$ {{ month_data.net_sale|floatformat:2|intcomma }}</td>
                                    <td class="p-1 text-right border-r border-b border-border text-title font-semibold">{{ month_data.scope|floatformat:2|intcomma }}%</td>
                                    <td class="p-1 text-right border-r border-b border-border font-semibold {% if month_data.diff < 0 %}text-red-500{% else %}text-emerald-500{% endif %}">
                                        $ {{ month_data.diff|floatformat:2|intcomma }}
                                    </td>
                                {% endfor %}
                            </tr>

                            {% for result in route.results %}
                                <tr class="hover:bg-hover transition-colors duration-200 text-xs">
                                    <td class="sticky left-0 z-10 p-1 bg-container border-r border-border text-center text-muted">
                                        
                                    </td>
                                    <td class="sticky left-24 z-10 p-1 bg-container border-r border-b border-border capitalize text-title">
                                        {{ result.name|title }}
                                    </td>

                                    {% for month_data in result.monthly_data %}
                                        <td colspan="4" class="p-1 text-center border-r border-b border-border text-title">
                                            {{ month_data.value }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <div class="p-8 border border-border rounded bg-container text-center text-muted">
            No se encontraron rutas ni datos de venta para los filtros seleccionados.
        </div>
    {% endfor %}

</div>
{% endblock %}
