{% extends 'base.html' %}
{% load humanize %}

{% block title %}Mapa organizacional{% endblock %}

{% block module_name %}Mapa organizacional{% endblock %}

{% block module_actions %}
{% endblock %}

{% block content %}
<div id="org-chart" class="w-full h-[calc(100vh-4rem)] overflow-x-auto overflow-y-auto"></div>
{% endblock %}

{% block extra_js %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const titleColor = getComputedStyle(document.documentElement).getPropertyValue('--color-title').trim();
    const bodyColor = getComputedStyle(document.documentElement).getPropertyValue('--color-body').trim();
    const containerColor = getComputedStyle(document.documentElement).getPropertyValue('--color-page').trim();
    var chartDom = document.getElementById('org-chart');
    var orgChart = echarts.init(chartDom);
    
    orgChart.showLoading();
    fetch("{% url 'human_resources:get_org_chart_data' %}")
        .then(response => response.json())
        .then(data => {
            orgChart.hideLoading();

            const option = {
                tooltip: {
                    trigger: 'item',
                    triggerOn: 'mousemove',
                    formatter: function (params) {
                        return `${params.data.name}<br/>
                                <b>${params.data.position}</b><br/>
                                <span style="font-size:12px;color:#ccc;">${params.data.location}</span>`;
                    }
                },
                series: [
                    {
                        type: 'tree',
                        data: [data],
                        roam: true,
                        scaleLimit: {
                            min: 0.5, 
                            max: 2    
                        },
                        top: '10%',
                        left: '20%',
                        bottom: '22%',
                        right: '20%',
                        symbolSize: 7,
                        edgeShape: 'polyline',
                        edgeForkPosition: '63%',
                        initialTreeDepth: 1, 
                        lineStyle: {
                            width: 2
                        },
                        label: {
                            backgroundColor: containerColor,
                            position: 'left',
                            verticalAlign: 'middle',
                            align: 'right',
                            formatter: function(params) {
                                return `{position|${params.data.position}:} {location|${params.data.location}}\n{name|${params.data.name}}`;
                            },
                            rich: {
                                position: { 
                                    fontSize: 12, 
                                    color: bodyColor, 
                                },
                                location: { 
                                    fontSize: 12, 
                                    fontWeight: 'normal', 
                                    color: bodyColor 
                                },
                                name: { 
                                    fontSize: 12, 
                                    fontWeight: 'normal', 
                                    color: titleColor 
                                }
                            }
                        },
                        leaves: {
                            label: {
                                position: 'right',
                                verticalAlign: 'middle',
                                align: 'left'
                            }
                        },
                        emphasis: {
                            focus: 'descendant'
                        },
                        expandAndCollapse: true,
                        animationDuration: 550,
                        animationDurationUpdate: 750
                    }
                ]
            };

            orgChart.setOption(option);
        })
        .catch(error => {
            console.error('Error al cargar el organigrama:', error);
            orgChart.hideLoading();
        });

    window.addEventListener('resize', function() {
        orgChart.resize();
    });
});
</script>
{% endblock %}