{% load humanize %}

{% for transaction in transactions %}
    <tr>
        <td class="p-2 truncate text-center font-mono text-xs">
            <a href="{% url 'sales:sale_transaction_detail_view' transaction.pk %}" class="underline hover:text-hover transition-colors">
                {{ transaction.doc_id|default:'-'|upper }}
            </a>
        </td>

        <td class="p-2 truncate text-center text-xs font-mono">
            {{ transaction.sale_date|default:'-'|date:'d M Y' }}
        </td>

        <td class="p-2 truncate text-left text-xs">
            <a href="{% url 'customers:customer_detail_view' transaction.customer.id %}" class="underline hover:text-hover transition-colors font-medium">
                {{ transaction.customer.id|upper }} - {{ transaction.customer.name|title }}
            </a>
        </td>

        <td class="p-2 truncate text-left text-xs">
            {% if transaction.route %}
                <a href="{% url 'sales:route_detail_view' transaction.route.id %}" class="underline hover:text-hover transition-colors">
                    {{ transaction.route.id|upper }} {{ transaction.route.name|title }}
                </a>
            {% else %}
                <span class="text-secondary italic">Sin ruta</span>
            {% endif %}
        </td>

        <td class="p-2 truncate text-left text-xs">
            {% if transaction.warehouse %}
                <a href="{% url 'sales:warehouse_detail_view' transaction.warehouse.id %}" class="underline hover:text-hover transition-colors">
                    {{ transaction.warehouse.name|title }}
                </a>
            {% else %}
                <span class="text-secondary italic">-</span>
            {% endif %}
        </td>

        <td class="p-2 truncate text-left text-xs">
            {% if transaction.product %}
                <a href="{% url 'products:product_detail_view' transaction.product.id %}" class="underline hover:text-hover transition-colors" title="{{ transaction.product.name }}">
                    {{ transaction.product.name|title }}
                </a>
            {% else %}
                <span class="text-secondary italic">{{ transaction.product_class.name|title }}</span>
            {% endif %}
        </td>

        <td class="p-2 truncate text-right font-mono text-xs font-medium">
            {{ transaction.quantity|default:0|floatformat:2|intcomma }}
        </td>

        <td class="p-2 truncate text-right font-mono text-xs font-medium">
            ${{ transaction.net_amount|default:0|floatformat:2|intcomma }}
        </td>

        {% if can_view_cost %}
            <td class="p-2 truncate text-right font-mono text-xs font-medium text-emerald-500">
                ${{ transaction.profit|default:0|floatformat:2|intcomma }}
            </td>
        {% endif %}
    </tr>
{% empty %}
    <tr>
        <td colspan="100%" class="py-50">
            <div class="sticky left-0 flex justify-center items-center w-[100cqw]">
                {% include 'layouts/data_not_found.html' %}
            </div>
        </td>
    </tr>
{% endfor %}

{% if page_obj.has_next %}
<tr id="load-more-row-{{ page_obj.number }}">
    <td colspan="100%" class="p-4 border-t border-border">
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            <button hx-get="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
                    hx-target="#load-more-row-{{ page_obj.number }}"
                    hx-swap="outerHTML"
                    class="group hover:text-hover text-strong transition-colors cursor-pointer border border-border rounded p-1 bg-page">
                
                <div class="flex items-center gap-2 group-[.htmx-request]:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down"><circle cx="12" cy="12" r="10"/><path d="m16 10-4 4-4-4"/></svg>
                    <span>Mostrar más</span>
                </div>

                <div class="hidden items-center gap-2 group-[.htmx-request]:flex">
                    {% include 'layouts/loading_animation_icon.html' %}
                    <span class="text-strong">Cargando...</span>
                </div>

            </button>
        </div>
    </td>
</tr>
{% endif %}
