{% load humanize %}

{% for user in users %}
    <tr class="hover:bg-hover transition-colors duration-300">
        <td class="p-2 text-left text-strong italic underline">
            <a href="{% url 'core:user_detail_view' user.id %}" target="_blank">
                @ {{ user.username }}
            </a>
        </td>
        <td class="p-2 text-left truncate">{{ user.first_name|default:'--- '|title }} {{ user.last_name|default:'---'|title }} {% if user.second_last_name %} {{ user.second_last_name|title }} {% endif %}</td>
        <td class="p-2 text-left truncate max-w-0">{{ user.email|default:"--- ---" }}</td>
        <td class="p-2 text-center ">{{ user.human_resources_employees.all|length }}</td>
        <td class="p-2 text-right ">{{ user.last_login|date:"d M Y H:i"|default:"--- ---" }}</td>
        <td class="p-2 text-center ">{{ user.groups.all|length }}</td>
        <td class="p-2 text-left 
        {% if user.is_active %}
            text-emerald-500
        {% else %}
            text-red-500
        {% endif %}
        ">{{ user.is_active|yesno:"Activo,Inactivo" }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="100%" class="p-4 text-center ">No se encontraron usuarios.</td>
    </tr>
{% endfor %}

{% if page_obj.has_next %}
<tr id="load-more-row-{{ page_obj.number }}">
    <td colspan="8" class="p-4 border-t border-border">
        
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            
            <button hx-get="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
                    hx-target="#load-more-row-{{ page_obj.number }}"
                    hx-swap="outerHTML"
                    class="group hover:text-hover text-strong transition-colors cursor-pointer border border-border rounded p-1 bg-page">
                
                <div class="flex items-center gap-2 group-[.htmx-request]:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down"><circle cx="12" cy="12" r="10"/><path d="m16 10-4 4-4-4"/></svg>
                    <span>Mostrar más</span>
                </div>

                <div class="hidden items-center gap-2 group-[.htmx-request]:flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dot-dashed-icon lucide-circle-dot-dashed animate-spin"><path d="M10.1 2.18a9.93 9.93 0 0 1 3.8 0"/><path d="M17.6 3.71a9.95 9.95 0 0 1 2.69 2.7"/><path d="M21.82 10.1a9.93 9.93 0 0 1 0 3.8"/><path d="M20.29 17.6a9.95 9.95 0 0 1-2.7 2.69"/><path d="M13.9 21.82a9.94 9.94 0 0 1-3.8 0"/><path d="M6.4 20.29a9.95 9.95 0 0 1-2.69-2.7"/><path d="M2.18 13.9a9.93 9.93 0 0 1 0-3.8"/><path d="M3.71 6.4a9.95 9.95 0 0 1 2.7-2.69"/><circle cx="12" cy="12" r="1"/></svg>
                    <span class="text-strong">Cargando...</span>
                </div>

            </button>
            
        </div>
        
    </td>
</tr>
{% endif %}