{% extends 'base.html' %}
{% load humanize %}

{% block title %}Detalles de actividad{% endblock %}

{% block module_name %}Detalles de actividad{% endblock %}

{% block content %}
<div class="flex flex-col gap-4">

    <p class="text-title text-sm">Información General</p>
    <hr class="border-border border">

    <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
      <span class="text-title">ID</span>
      <div>
        <span class="view-el">{{ history.id }}</span>
      </div>

      <span class="text-title">Fecha y hora</span>
      <div>
        <span class="view-el">{{ history.created_at|date:"d/m/Y H:i:s" }}</span>
      </div>

      <span class="text-title">Usuario</span>
      <div>
        <span class="view-el">{{ history.created_by.first_name|title }} {{ history.created_by.last_name|title }} (@{{ history.created_by.username }})</span>
      </div>

      <span class="text-title">Módulo</span>
      <div>
        <span class="view-el">{{ history.module.name|default:'-'|title }}</span>
      </div>

      <span class="text-title">Acción</span>
      <div>
        <span class="view-el">{{ history.get_action_display|default:history.action|title }}</span>
      </div>

      <span class="text-title">Resultado</span>
      <div>
        <span class="view-el">{{ history.get_result_display|default:history.result|title }}</span>
      </div>

      <span class="text-title">Descripción</span>
      <div>
        <span class="view-el">{{ history.description|default:'-'|title }}</span>
      </div>

      <span class="text-title">Objeto afectado</span>
      <div>
        <span class="view-el">
            {% if history.content_type and history.object_id %}
                {{ history.content_type.name|title }} (ID: {{ history.object_id }})
            {% else %}
                -
            {% endif %}
        </span>
      </div>
    </div>

    {% if history.changes %}
    <p class="text-title text-sm">Cambios Registrados</p>
    <hr class="border-border border">

    <div class="bg-container p-2 rounded grid gap-4">
        {% for key, value in history.changes.items %}
        <div class="flex flex-col gap-1 border-b border-border pb-2 last:border-0 last:pb-0">
            <span class="text-title text-sm">{{ key|title }}</span>
            <div class="bg-page p-2 rounded border border-border overflow-x-auto">
                <pre class="font-mono text-sm text-strong whitespace-pre-wrap">{% if value|length > 0 %}{{ value|pprint }}{% else %}{{ value }}{% endif %}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if history.metadata %}
    <p class="text-title text-sm">Metadatos</p>
    <hr class="border-border border">

    <div class="bg-container p-2 rounded grid gap-4">
        {% for key, value in history.metadata.items %}
        <div class="flex flex-col gap-1 border-b border-border pb-2 last:border-0 last:pb-0">
            <span class="text-title text-sm">{{ key|title }}</span>
            <div class="bg-page p-2 rounded border border-border overflow-x-auto">
                <pre class="font-mono text-sm text-strong whitespace-pre-wrap">{% if value|length > 0 %}{{ value|pprint }}{% else %}{{ value }}{% endif %}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}