{% extends 'base.html' %}
{% load humanize %}

{% block title %}Actividad{% endblock %}

{% block module_name %}Actividad{% endblock %}


{% block module_actions %}
<button onclick="toggleFilters()"
    class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2 border border-border rounded p-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal">
        <path d="M10 5H3" />
        <path d="M12 19H3" />
        <path d="M14 3v4" />
        <path d="M16 17v4" />
        <path d="M21 12h-9" />
        <path d="M21 19h-5" />
        <path d="M21 5h-7" />
        <path d="M8 10v4" />
        <path d="M8 12H3" />
    </svg>
    <span>
        Filtrar
    </span>
</button>

{% endblock %}

{% block filters %}
<form method="GET" action="" id="filters-form" hx-get="{% url 'data_admin:activity' %}" hx-target="#report-container" hx-trigger="change">

    <!-- Búsqueda General -->
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Búsqueda general</label>
        <input type="text" name="search_query" value="{{ search_query|default:'' }}"
            class="border border-border rounded p-1 bg-page text-sm" placeholder="Buscar actividad...">
    </div>

    <!-- Fechas -->
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Desde</label>
        <input type="date" name="start_date" value="{{ selected_start_date|default:'' }}"
            class="border border-border rounded p-1 bg-page text-sm">
    </div>
    
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong text-sm">Hasta</label>
        <input type="date" name="end_date" value="{{ selected_end_date|default:'' }}"
            class="border border-border rounded p-1 bg-page text-sm">
    </div>

    <div class="flex gap-2 flex-col">
        <button type="submit"
            class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full">Aplicar
            filtros</button>
        <a href="{{ request.path }}"
            class="bg-page border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full text-center">Limpiar
            filtros</a>
    </div>

</form>
{% endblock %}


{% block content %}

<div class="w-full overflow-auto border border-border rounded bg-container max-h-[80vh] relative">
    <table class="w-max min-w-full border-separate border-spacing-0">
        <thead>
            <tr class="border-b border-border text-xs">
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Usuario</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Ejecución</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Módulo</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Modelo</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Objeto</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Acción</th>
                <th class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Estado</th>
                <th class="min-w-[250px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page h-8">Detalles</th>
            </tr>
        </thead>

        <tbody class="text-sm" id="report-container">
            {% include "data_admin/activity/partials/activity_rows.html" %}
        </tbody>
    </table>
</div>

{% endblock %}