{% extends 'base.html' %}
{% load humanize %}

{% block title %}Actividad{% endblock %}

{% block module_name %}Actividad{% endblock %}


{% block module_actions %}
<button onclick="toggleFilters()"
    class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2 border border-border rounded p-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal">
        <path d="M10 5H3" />
        <path d="M12 19H3" />
        <path d="M14 3v4" />
        <path d="M16 17v4" />
        <path d="M21 12h-9" />
        <path d="M21 19h-5" />
        <path d="M21 5h-7" />
        <path d="M8 10v4" />
        <path d="M8 12H3" />
    </svg>
    <span>
        Filtrar
    </span>
</button>

{% endblock %}


{% block content %}

<div class="w-full overflow-x-auto border border-border rounded bg-container">
    <table class="w-full table-fixed text-left border-collapse">
        <thead>
            <tr class="border-b border-border">
                <th class="w-40 p-1 text-center text-title">Usuario</th>
                <th class="w-40 p-1 text-center text-title">Ejecución</th>
                <th class="w-70 p-1 text-center text-title">Módulo</th>
                <th class="w-30 p-1 text-center text-title">Modelo</th>
                <th class="w-30 p-1 text-center text-title">Objeto</th>
                <th class="w-20 p-1 text-center text-title">Acción</th>
                <th class="w-20 p-1 text-center text-title">Estado</th>
                <th class="w-60 p-1 text-center text-title">Detalles</th>
            </tr>
        </thead>

        <tbody>
            {% for log in logs %}
            <tr class="hover:bg-hover transition-colors duration-300">
                <td class="p-2">
                    <a href="{% url 'data_admin:activity_detail' log.id %}" target="_blank"
                        class="flex items-center gap-2 underline text-strong">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right">
                            <path d="M22 12A10 10 0 1 1 12 2" />
                            <path d="M22 2 12 12" />
                            <path d="M16 2h6v6" />
                        </svg>
                        <span>
                            {{ log.created_by|default:"-" }}
                        </span>
                    </a>
                </td>
                <td class="p-2 truncate">{{ log.created_at|date:'d/M/Y H:i' }}</td>
                <td class="p-2 truncate">{% if log.module %}{{ log.module|title }}{% else %}-{% endif %}</td>
                <td class="p-2 truncate">{{ log.content_type.model|title|default:"-" }}</td>
                <td class="p-2 truncate">{{ log.object_id|default:"-" }}</td>
                <td class="p-2 text-center">{{ log.action|title|default:"-" }}</td>
                <td class="p-2 text-center
                {% if log.result == 'éxito' %}
                text-green-600
                {% elif log.result == 'parcial' %}
                text-orange-600
                {% else %}
                text-red-600
                {% endif %}
                ">{{ log.result|title|default:"-" }}</td>
                <td class="p-2 text-left">{{ log.description|default:"-" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="p-2 text-center text-body">No se encontraron importaciones.</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}