{% load humanize %}
{% load has_group %}
{% for customer in customers %}
<tr class="hover:bg-hover/30 transition-colors duration-300">

    <th class="min-w-[240px] max-w-[240px] w-[240px] p-2 border-r border-border sticky md:left-0 z-20 bg-container">
        
        <a href="{% url 'business_intelligence:customer_kpis' customer.id %}" target="_blank" class="flex items-center justify-start gap-1 underline text-strong">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="min-w-[14px]">
                <path d="M22 12A10 10 0 1 1 12 2" />
                <path d="M22 2 12 12" />
                <path d="M16 2h6v6" />
            </svg>
            <span class="truncate text-title">{{ customer.id|upper }} {{ customer.name|title }}</span>
        </a>
    </th>

    <td class="min-w-[120px] max-w-[120px] w-[120px] p-2 text-title border-r border-border text-center sticky md:left-[240px] z-20 bg-container">
        {{ customer.route.id|upper }}
    </td>

    <td class="min-w-[120px] max-w-[120px] w-[120px] p-2 text-title border-r border-border text-center sticky md:left-[360px] z-20 bg-container">
        {{ customer.route.warehouse.id|upper }}
    </td>

    <td class="p-2 text-left text-title border-r border-border">
        {{ customer.customer_type.name|title }}
    </td>
    <td class="p-2 text-left border-r border-border">
        {% if customer.category_last_moving_q.name == 'DIAMANTE' %}
        <div class="flex items-center gap-1 text-cyan-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gem-icon lucide-gem"><path d="M10.5 3 8 9l4 13 4-13-2.5-6"/><path d="M17 3a2 2 0 0 1 1.6.8l3 4a2 2 0 0 1 .013 2.382l-7.99 10.986a2 2 0 0 1-3.247 0l-7.99-10.986A2 2 0 0 1 2.4 7.8l2.998-3.997A2 2 0 0 1 7 3z"/><path d="M2 9h20"/></svg>
            <span class="text-body">{{ customer.category_last_moving_q.name|title }}</span>
        </div>
        {% elif customer.category_last_moving_q.name == 'ORO' %}
        <div class="flex items-center gap-1 text-yellow-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-star-icon lucide-circle-star"><circle cx="12" cy="12" r="10"/><path d="M11.051 7.616a1 1 0 0 1 1.909.024l.737 1.452a1 1 0 0 0 .737.535l1.634.256a1 1 0 0 1 .588 1.806l-1.172 1.168a1 1 0 0 0-.282.866l.259 1.613a1 1 0 0 1-1.541 1.134l-1.465-.75a1 1 0 0 0-.912 0l-1.465.75a1 1 0 0 1-1.539-1.133l.258-1.613a1 1 0 0 0-.282-.867l-1.156-1.152a1 1 0 0 1 .572-1.822l1.633-.256a1 1 0 0 0 .737-.535z"/></svg>
            <span class="text-body">{{ customer.category_last_moving_q.name|title }}</span>
        </div>
        {% elif customer.category_last_moving_q.name == 'AA' %}
        <div class="flex items-center gap-1 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-aarrow-up-icon lucide-a-arrow-up"><path d="m14 11 4-4 4 4"/><path d="M18 16V7"/><path d="m2 16 4.039-9.69a.5.5 0 0 1 .923 0L11 16"/><path d="M3.304 13h6.392"/></svg>
            <span class="text-body">{{ customer.category_last_moving_q.name|upper }}</span>
        </div>
        {% elif customer.category_last_moving_q.name == 'A' %}
            <div class="flex items-center gap-1 text-sky-900">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-aarrow-down-icon lucide-a-arrow-down"><path d="m14 12 4 4 4-4"/><path d="M18 16V7"/><path d="m2 16 4.039-9.69a.5.5 0 0 1 .923 0L11 16"/><path d="M3.304 13h6.392"/></svg>
                <span class="text-body">{{ customer.category_last_moving_q.name|upper }}</span>
            </div>
        {% elif customer.category_last_moving_q.name == 'C' %}
            <div class="flex items-center gap-1 text-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copyright-icon lucide-copyright"><circle cx="12" cy="12" r="10"/><path d="M14.83 14.83a4 4 0 1 1 0-5.66"/></svg>
                <span class="text-body">{{ customer.category_last_moving_q.name|upper }}</span>
            </div>
        {% endif %}
    </td>
    <td class="p-2 text-left text-title border-r border-border">
        {{ customer.frequency|title }}
    </td>
    <td class="p-2 border-r border-border text-center text-title">
        {% if customer.opinion_leader %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-green-500 mx-auto"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-red-500 mx-auto"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
        {% endif %}
    </td>

    <td class="p-2 text-right text-title border-r border-border" >
        $ {{ customer.credit_limit|floatformat:2|intcomma }}
    </td>

    <td class="p-2 text-right text-title border-r border-border" >
        $ {{ customer.current_balance|floatformat:2|intcomma }}
    </td>
    <td class="p-2 text-right text-title border-r border-border" >
        $ {{ customer.overdue_balance|floatformat:2|intcomma }}
    </td>
    <td class="p-2 text-right text-title border-r border-border" >
        {{ customer.credit_usage|floatformat:2|intcomma }}%
    </td>

    <td class="p-2 text-right text-title border-r border-border">
        {{ customer.active_agreements|floatformat:0|intcomma }}
    </td>
    <td class="p-2 text-right text-title border-r border-border">
        {{ customer.product_classes_with_consumption|floatformat:0|intcomma }} / {{ relevant_product_classes_count }}
    </td>
    <td class="p-2 text-right text-title border-r border-border">
        $ {{ customer.previous_year_average|floatformat:2|intcomma }}
    </td>
    <td class="p-2 text-right text-title border-r border-border">
        $ {{ customer.current_year_average|floatformat:2|intcomma }}
    </td>
    <td class="p-2 text-right text-title border-r border-border">
        $ {{ customer.previous_moving_quarter_average|floatformat:2|intcomma }}
    </td>

    <!-- analisis de contribucion -->
    <td class="p-2 text-title border-r border-border">
        <div class="flex items-center justify-between gap-2">
            <span class="text-blue-600">
                Venta neta
            </span>
            <span>
                $ {{ customer.performance_net_amount|default:0|floatformat:2|intcomma }}
            </span>
        </div>
        <!-- <div class="flex items-center justify-between gap-2">
            {% if not request.user|has_group:'vendedor' %}
            <span class="text-green-600">
                Utilidad
            </span>
            <span>
                $ {{ customer.performance_profit|default:0|floatformat:2|intcomma }}
            </span>
            {% endif %}
        </div> -->
    </td>
    <td class="p-2 text-title border-r border-border">
        <div class="flex items-center justify-between gap-2">
            <span class="text-blue-600">
                Venta neta
            </span>
            <span>
                {{ customer.contrib_net_amount|default:0|floatformat:2|intcomma }} %
            </span>
        </div>
        <div class="flex items-center justify-between gap-2">
            <span class="text-green-600">
                Utilidad
            </span>
            <span>
                {{ customer.contrib_profit|default:0|floatformat:2|intcomma }} %
            </span>
        </div>
    </td>

    <td class="p-2 text-title border-r border-border">
        <div class="flex items-center justify-between gap-2">
            <span class="
            {% if customer.selected_contrib_by == 'Utilidad' %}
                text-green-600
            {% else %}
                text-blue-600
            {% endif %}
            ">
                {{ customer.selected_contrib_by|default:'Venta neta'|title }}
            </span>
            <span class="
            {% if customer.cumuled_contrib >= 80 %}
                text-orange-600
            {% elif customer.cumuled_contrib <= 0 %}
                text-red-500

            {% else %}
                text-strong italic font-bold
            {% endif %}
            ">
                {{ customer.cumuled_contrib|default:0|floatformat:2|intcomma }} % 
            </span>
        </div>
        <div class="flex items-center justify-between gap-2">
            <span class="text-purple-500">
                Clientes: {{ customer.cumuled_portafolio_count|default:0|floatformat:0|intcomma }}
            </span>
            <span>
                {{ customer.cumuled_portafolio_pct|default:0|floatformat:2|intcomma }} %
            </span>
        </div>
    </td>

    {% for month in customer.monthly_consumption_qs %}
        <td class="p-2 text-right text-title border-r border-border">
            <span class="font-medium">
                $ {{ month.sale|floatformat:2|intcomma }}
            </span><br>
            {% if month.growth_vs_previous_month >= 0 %}
                <span class="text-white font-medium text-[10px] p-[1px] rounded bg-green-950 ">+{{ month.growth_vs_previous_month|floatformat:0|intcomma }}%</span>
            {% else %}
                <span class="text-white font-medium text-[10px] p-[1px] rounded bg-red-600 "> {{ month.growth_vs_previous_month|floatformat:0|intcomma }}%</span>
            {% endif %}
        </td>
    {% endfor %}
</tr>
{% empty %}
{% if not page_obj.has_previous %}
<tr>
    <td colspan="31"  class="p-2 text-muted text-center border-border">
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            No hay datos para mostrar
        </div>
    </td>
</tr>
{% endif %}
{% endfor %}
<!-- 
{% if page_obj.has_next %}
<tr id="load-more-row-{{ page_obj.number }}">
    <td colspan="31" class="p-4">
        
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            
            <button hx-get="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
                    hx-target="#load-more-row-{{ page_obj.number }}"
                    hx-swap="outerHTML"
                    class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2 border border-border rounded p-1 bg-page">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down"><circle cx="12" cy="12" r="10"/><path d="m16 10-4 4-4-4"/></svg>
                <span>mostrar más</span>
            </button>
            
        </div>
        
    </td>
</tr>
{% endif %} -->

{% if page_obj.has_next %}
<tr id="load-more-row-{{ page_obj.number }}">
    <td colspan="31" class="p-4 border-t border-border">
        
        <div class="sticky left-1/2 -translate-x-1/2 w-max">
            
            <button hx-get="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
                    hx-target="#load-more-row-{{ page_obj.number }}"
                    hx-swap="outerHTML"
                    class="group hover:text-hover text-strong transition-colors cursor-pointer border border-border rounded p-1 bg-page">
                
                <div class="flex items-center gap-2 group-[.htmx-request]:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-chevron-down-icon lucide-circle-chevron-down"><circle cx="12" cy="12" r="10"/><path d="m16 10-4 4-4-4"/></svg>
                    <span>Mostrar más</span>
                </div>

                <div class="hidden items-center gap-2 group-[.htmx-request]:flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dot-dashed-icon lucide-circle-dot-dashed animate-spin"><path d="M10.1 2.18a9.93 9.93 0 0 1 3.8 0"/><path d="M17.6 3.71a9.95 9.95 0 0 1 2.69 2.7"/><path d="M21.82 10.1a9.93 9.93 0 0 1 0 3.8"/><path d="M20.29 17.6a9.95 9.95 0 0 1-2.7 2.69"/><path d="M13.9 21.82a9.94 9.94 0 0 1-3.8 0"/><path d="M6.4 20.29a9.95 9.95 0 0 1-2.69-2.7"/><path d="M2.18 13.9a9.93 9.93 0 0 1 0-3.8"/><path d="M3.71 6.4a9.95 9.95 0 0 1 2.7-2.69"/><circle cx="12" cy="12" r="1"/></svg>
                    <span class="text-strong">Cargando...</span>
                </div>

            </button>
            
        </div>
        
    </td>
</tr>
{% endif %}