{% extends 'base.html' %}
{% load humanize %}

{% block title %}
	Detalle de reporte de desempeño
{% endblock %}

{% block module_name %}
    Detalle de reporte de desempeño: {{ monitoring_form.name|title }}
{% endblock %}

{% block module_actions %}
    {% if available_actions %}
        {% include available_actions %}
    {% endif %}
    <a href="{% url 'human_resources:monitoring_form_list_view' %}" class="flex items-center gap-1 hover:text-hover cursor-pointer transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left-icon lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="m12 8-4 4 4 4"/><path d="M16 12H8"/></svg>
        <span>Volver al listado</span>
    </a>
{% endblock %}

{% block content %}

    <div class="flex flex-col gap-4">
        <p class="text-title text-sm pb-2 border-b border-border">Información general</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
            <span class="text-title">Identificador</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.id|default:"-"|upper }}
            </div>

            <span class="text-title">Nombre</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.name|default:"-"|title }}
            </div>

            <span class="text-title">Versión</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.version|default:"-" }}
            </div>

            <span class="text-title">Periodicidad</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.get_periodicity_display|default:"-"|title }}
            </div>

            <span class="text-title">Estado (Activo)</span>
            <div class="w-full text-body flex items-center">
                {% if monitoring_form.is_active %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </div>
        </div>

        <p class="text-title text-sm pb-2 border-b border-border">Configuración de plazos</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
            <span class="text-title">Día de apertura</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.schedule.get_open_day_display|default:"-"|title }}
            </div>

            <span class="text-title">Semana del mes</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.schedule.get_week_of_month_display|default:"-"|title }}
            </div>

            <span class="text-title">Hora de apertura</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.schedule.open_time|time:"H:i"|default:"-" }} hrs.
            </div>

            <span class="text-title">Duración (Horas)</span>
            <div class="w-full text-body flex items-center">
                {{ monitoring_form.schedule.duration_hours|default:"0" }} horas
            </div>
        </div>

        <p class="text-title text-sm pb-2 border-b border-border">Estructura del reporte (Campos / preguntas)</p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
            <span class="text-title md:col-span-2">{{ questions.count|default:0|floatformat:0|intcomma }} pregunta(s) registrada(s)</span>

            <ul class="md:col-span-2 w-full max-h-48 overflow-y-auto rounded bg-page p-1 flex flex-col gap-2 border border-border">
                {% for q in questions|dictsort:"order" %}
                	<li class="pb-1 border-b border-border last:border-b-0 last:pb-0">
                        <p class="font-medium text-body">{{ q.order }}. {{ q.question.label|default:'-'|title }}</p>
                        <p class="text-[10px] text-hover">
                            • Tipo: {{ q.question.get_response_type_display|default:'-' }}
                            • ¿Obligatoria?: {% if q.is_required %}Sí{% else %}No{% endif %}
                        </p><br>
                        <p class="text-[10px] ">
                            <span>
                                Objetivo (Nivel/Puesto):
                            </span>
                            <span class="italic text-secondary">
                                {% if q.position %}
                                    {{ q.position.name|title }}
                                {% elif q.hierarchy_level %}
                                    Nivel: {{ q.get_hierarchy_level_display }}
                                {% else %}
                                    General
                                {% endif %}
                            </span>
                        </p>
                    </li>
                {% empty %}
                    <li class="">
                        {% include 'layouts/data_not_found.html' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
