
@import "tailwindcss";
@source "../../apps";
@source "../../templates";

@theme {
    --color-page: var(--bg-page);
    --color-body: var(--text-body);
    --color-container: var(--bg-container);
    --color-title: var(--text-title);
    --color-strong: var(--text-strong);
    --color-muted: var(--text-muted);
    --color-border: var(--border);
    --color-placeholder: var(--placeholder);
    --color-hover: var(--hover);

    --color-msg-error-bg: oklch(80.8% 0.114 19.571);
    --color-msg-error-txt: oklch(25.8% 0.092 26.042);
    --color-msg-error-border: oklch(50.5% 0.213 27.518);

    --color-msg-warn-bg: oklch(83.7% 0.128 66.29);
    --color-msg-warn-txt: oklch(26.6% 0.079 36.259);
    --color-msg-warn-border: oklch(55.3% 0.195 38.402);

    --color-msg-succ-bg: oklch(86.9% 0.022 252.894);
    --color-msg-succ-txt: oklch(12.9% 0.042 264.695);
    --color-msg-succ-border: oklch(37.2% 0.044 257.287);

    --color-chart-green: var(--chart-green);
    --color-chart-red: var(--chart-red);
    --color-chart-blue: var(--chart-blue);
    --color-chart-yellow: var(--chart-yellow);
    --color-chart-orange: var(--chart-orange);
    --color-chart-purple: var(--chart-purple);
}

/* 3. Tus variables raíz de colores base */
:root {
    --bg-page: oklch(98.4% 0.003 247.858);
    --bg-container: oklch(94.6% 0.01 255);
    --text-title: oklch(44.6% 0.03 256.802);
    --text-body: oklch(12.9% 0.042 264.695);
    --text-strong: oklch(37.2% 0.044 257.287);
    --border: oklch(86.9% 0.022 252.894);
    --placeholder: oklch(55.4% 0.046 257.417);
    --hover: oklch(70.7% 0.022 261.325);

    --chart-green: #89E891;
    --chart-red: #E3583B;
    --chart-blue: #89CBE8;
    --chart-yellow: #E5E889;
    --chart-orange: #E8B789;
    --chart-purple: #C489E8;
}

:root.dark {
    --bg-page: oklch(13% 0.028 261.692);
    --bg-container: oklch(18% 0.033 260);
    --text-title: oklch(70.7% 0.022 261.325);
    --text-body: oklch(98.4% 0.003 247.858);
    --text-strong: oklch(78% 0.035 256.788);
    --border: oklch(27.9% 0.041 260.031);
    --placeholder: oklch(55.4% 0.046 257.417);
    --hover: oklch(44.6% 0.03 256.802);

    --chart-green: #43B54B;
    --chart-red: #B54343;
    --chart-blue: #435AB5;
    --chart-yellow: #B5B543;
    --chart-orange: #B56743;
    --chart-purple: #A843B5;
}

.htmx-indicator { display: none; }
.htmx-request .htmx-indicator { display: flex; }
.htmx-request.htmx-indicator { display: flex; }

.dust-cloud {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    z-index: 0;
    pointer-events: none;
}
:root.dark .dust-cloud {
    opacity: 0.6;
    filter: blur(160px);
}
.dust-1 { width: 600px; height: 500px; background: oklch(70.4% 0.14 182.503); top: 0px; left: -100px; animation: float-1 17s infinite ease-in-out alternate; }
.dust-2 { width: 600px; height: 300px; background: var(--chart-purple); bottom: 0px; right: 0px; animation: float-2 15s infinite ease-in-out alternate; }
.dust-3 { width: 500px; height: 500px; background: oklch(62.3% 0.214 259.815); top: 40%; left: 20%; animation: float-3 9s infinite ease-in-out alternate; }
.dust-4 { width: 600px; height: 300px; background: var(--chart-blue); bottom: -50px; left: -100px; animation: float-4 12s infinite ease-in-out alternate; }

@keyframes float-1 { 0% { transform: translate(0, 0) scale(1); } 100% { transform: translate(150px, 200px) scale(1.3); } }
@keyframes float-2 { 0% { transform: translate(0, 0) scale(1); } 100% { transform: translate(-200px, -800px) scale(2); } }
@keyframes float-3 { 0% { transform: translate(0, 0) scale(1.2); } 100% { transform: translate(-200px, -150px) scale(1.5); } }
@keyframes float-4 { 0% { transform: translate(0, 0) scale(1); } 100% { transform: translate(-200px, -200px) scale(2); } }

#assistant-content.htmx-settling { opacity: 0; }
#assistant-content { opacity: 1; transition: opacity 300ms ease-in-out; }

html, body { min-height: 100dvh; background-color: var(--bg-page); }
* { scrollbar-width: thin; scrollbar-color: var(--border) var(--bg-page); }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: var(--bg-page); }
::-webkit-scrollbar-thumb { background: var(--border); border-radius: 10px; transition: background-color 0.3s ease; }
::-webkit-scrollbar-thumb:hover { background: var(--hover); }