{% extends 'base.html' %}

{% block module_name %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-[70vh]">
    <div class="w-full max-w-md p-6 bg-container rounded border border-border flex flex-col gap-4 justify-center items-center">
        
        <h2 class="text-xl text-strong text-center mb-2 mt-2">Actualizar Contraseña</h2>
        
        <p class="text-title text-sm mb-4 w-5/6 text-center">
            Ingresa tu contraseña actual y la nueva para actualizarla.
        </p>

        <form class="flex flex-col gap-6 w-5/6 items-center justify-center" method="POST" id="change-password-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="text-red-600 text-sm p-3 rounded border border-msg-error-border w-full text-center mb-2">
                    {{ form.non_field_errors.0 }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="flex flex-col gap-1 w-full">
                    {% if field.errors %}
                    <div class="text-red-600 text-[12px] w-full text-left font-medium mb-1">
                        {{ field.errors.0 }}
                    </div>
                    {% endif %}

                    <div class="flex items-center gap-2 text-body w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-key-icon lucide-key text-muted shrink-0">
                            <circle cx="7.5" cy="15.5" r="5.5" />
                            <path d="m21 2-9.6 9.6" />
                            <path d="m15.5 7.5 3 3L22 7l-3-3" />
                        </svg>
                        <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="password" required
                            placeholder="{{ field.label }}"
                            class="w-full border-b border-border bg-transparent focus:outline-none transition-all text-body placeholder-placeholder pb-1">
                    </div>

                    {% if field.help_text %}
                    <p class="text-[10px] text-muted mt-2">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </form>

        <div class="flex flex-col gap-4 mt-6 mb-2 w-5/6">
            <button type="submit" form="change-password-form"
                class="cursor-pointer w-full text-body hover:text-hover flex items-center gap-2 justify-center transition-colors duration-300 border border-border rounded p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                <span>Actualizar Contraseña</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}