{% extends 'base.html' %}

{% block title %}Nuevo Grupo{% endblock %}

{% block module_name %}Nuevo Grupo{% endblock %}

{% block module_actions %}
    <button type="submit" form="update-group-form" id="btn-save" class="hover:text-hover text-green-700 transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
      <span>Confirmar</span>
    </button>

    <a href="{% url 'data_admin:groups' %}" class="hover:text-hover text-red-700 transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
      <span>Cancelar</span>
    </a>
{% endblock %}

{% block content %}
  <form id="update-group-form" method="POST" action=".">
    {% csrf_token %}
    <div class="flex flex-col gap-4">

      <p class="text-title text-sm">Información del Grupo</p>
      <hr class="border-border border">

      <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title">Nombre</span>
        <div>
          <input type="text" name="name" value="{{ group.name|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none" required>
        </div>
      </div>

      <p class="text-title text-sm">Módulos Permitidos</p>
      <hr class="border-border border">

      <div class="bg-container p-4 rounded">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          {% for module in all_modules %}
          <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors text-body">
            <input type="checkbox" name="modules" value="{{ module.id }}" class="accent-strong">
            <span>{{ module.section.name }} -> {{ module.name }}</span>
          </label>
          {% empty %}
          <span class="text-muted text-sm">No hay módulos registrados en el sistema.</span>
          {% endfor %}
        </div>
      </div>

    </div>
  </form>
{% endblock %}
