{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{% if updating %}
Editar objetivo de venta: Ruta {{ updating.route_id|upper }}
{% else %}
Nuevo objetivo de venta
{% endif %}
{% endblock %}

{% block module_name %}
{% if updating %}
Editar objetivo de venta: Ruta {{ updating.route_id|upper }} ({{ updating.period|date:'M Y'|upper }})
{% else %}
Nuevo objetivo de venta
{% endif %}
{% endblock %}

{% block content %}

<form method="POST" class="flex flex-col gap-4">
    {% csrf_token %}

    <p class="text-title text-sm">Información general</p>
    <hr class="border-border border">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center bg-container p-2 rounded border border-border">
        
        <span class="text-title flex items-center gap-1">Periodo
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.period class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 font-mono text-title' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.period.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Ruta
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.route class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 text-title' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.route.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Gerencia (Unidad de negocio)
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.business_unit class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 text-title' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.business_unit.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Clase de producto
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.product_class class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 text-title' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.product_class.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Monto objetivo
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="text-red-500 lucide lucide-asterisk-icon lucide-asterisk">
                <path d="M12 6v12" />
                <path d="M17.196 9 6.804 15" />
                <path d="m6.804 9 10.392 6" />
            </svg>
        </span>
        <div>
            {% render_field form.target_amount class='w-full bg-page border border-border rounded focus:outline-none focus:border-strong focus:ring-strong p-1 font-mono text-title' placeholder='0.00' required='required' %}
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.target_amount.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

        <span class="text-title flex items-center gap-1">Válido para comisión</span>
        <div class="flex items-center gap-2">
            {% render_field form.is_valid_for_comission class='rounded border-border focus:ring-strong' %}
            <span class="text-xs text-secondary">Aplica para el cálculo de comisiones</span>
            <p class="text-red-500 text-xs flex flex-col gap-2 mt-1">
                {% for error in form.is_valid_for_comission.errors %}
                <span class="block">• {{ error }}</span>
                {% endfor %}
            </p>
        </div>

    </div>

    <div class="flex flex-col gap-2 mt-4">
        <button type="submit"
            class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
            Confirmar
        </button>
        <a href="{% if updating %}{% url 'sales:sale_target_detail_view' updating.pk %}{% else %}{% url 'sales:sale_target_list_view' %}{% endif %}"
            class="border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            Cancelar
        </a>
    </div>

</form>

{% endblock %}
