{% extends 'base.html' %}
{% load humanize %}

{% block title %}Desglose mensual por gerencia{% endblock %}

{% block module_name %}Desglose mensual por gerencia{% endblock %}

{% block module_actions %}

<a href="{% url 'business_intelligence:export_monthly_breakdown_data' %}?year={{ selected_year }}&warehouse={{ selected_warehouse }}" 
   class="hover:text-hover text-strong transition-colors cursor-pointer inline-block">
    Descargar datos
</a>

<button onclick="toggleAssistant()" class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center justify-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-astroid-icon lucide-astroid"><path d="M12.983 21.186a1 1 0 0 1-1.966 0 10 10 0 0 0-8.203-8.203 1 1 0 0 1 0-1.966 10 10 0 0 0 8.203-8.203 1 1 0 0 1 1.966 0 10 10 0 0 0 8.203 8.203 1 1 0 0 1 0 1.966 10 10 0 0 0-8.203 8.203"/></svg>
    <span>
        Asistente de datos
    </span>
</button>

<button onclick="toggleFilters()"
    class="hover:text-hover text-strong transition-colors cursor-pointer flex items-center gap-2 border border-border rounded p-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal">
        <path d="M10 5H3" />
        <path d="M12 19H3" />
        <path d="M14 3v4" />
        <path d="M16 17v4" />
        <path d="M21 12h-9" />
        <path d="M21 19h-5" />
        <path d="M21 5h-7" />
        <path d="M8 10v4" />
        <path d="M8 12H3" />
    </svg>
    <span>
        Filtrar
    </span>
</button>

{% endblock %}

#data for ai
{% block ai_insights_url %}
    {% url 'data_assistant:data_assistant' %}?report_type=monthly_breakdown_by_warehouse
{% endblock %}


{% block filters %}
<form method="GET" action="{% url 'business_intelligence:monthly_breakdown_by_warehouse' %}" class="flex flex-col gap-4 text-strong" id="params_filters">
    {% csrf_token %}
    <!-- Años -->
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong ">Año</label>
        <div class="border border-border rounded bg-page flex flex-col">
            <input type="text" placeholder="Buscar año..." class="p-1 border-b border-border bg-page  outline-none w-full" onkeyup="filterCheckboxes(this, 'year-list')">
            <div id="year-list" class="max-h-32 overflow-y-auto p-1 flex flex-col gap-1">
                {% for year in filter_years %}
                <label class="flex items-center gap-2  cursor-pointer hover:bg-hover p-1 rounded transition-colors">
                    <input type="radio" name="year" value="{{ year }}" {% if year|stringformat:"s" == selected_year %}checked{% endif %}>
                    <span class="searchable-text">{{ year }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Gerencias -->
    <div class="flex flex-col gap-1 mb-4">
        <label class="text-strong ">Gerencias</label>
        <div class="border border-border rounded bg-page flex flex-col">
            <input type="text" placeholder="Buscar gerencia..." class="p-1 border-b border-border bg-page  outline-none w-full" onkeyup="filterCheckboxes(this, 'warehouses-list')">
            <div id="warehouses-list" class="max-h-32 overflow-y-auto p-1 flex flex-col gap-1">
                {% for w in filter_warehouses %}
                <label class="flex items-center gap-2  cursor-pointer hover:bg-hover p-1 rounded transition-colors">
                    <input type="radio" name="warehouse" value="{{ w.id }}" {% if w.id|stringformat:"s" == selected_warehouse %}checked{% endif %}>
                    <span class="searchable-text">{{ w.id|upper }} - {{ w.name|title }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>

    <button type="submit" class="bg-container border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full mt-2">Aplicar filtros</button>
    <a href="?"
        class="block bg-page border border-border text-strong hover:bg-hover p-2 rounded transition-colors cursor-pointer w-full text-center">Limpiar
        filtros</a>
</form>

<script>
function filterCheckboxes(inputElement, listId) {
    const filter = inputElement.value.toLowerCase();
    const list = document.getElementById(listId);
    const labels = list.getElementsByTagName('label');

    for (let i = 0; i < labels.length; i++) {
        const span = labels[i].querySelector('.searchable-text');
        if (span) {
            const textValue = span.textContent || span.innerText;
            if (textValue.toLowerCase().indexOf(filter) > -1) {
                labels[i].style.display = "";
            } else {
                labels[i].style.display = "none";
            }
        }
    }
}

function toggleAllCheckboxes(masterCheckbox, listId) {
    const list = document.getElementById(listId);
    const checkboxes = list.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(cb => {
        if (cb.closest('label').style.display !== "none") {
            cb.checked = masterCheckbox.checked;
        }
    });
}
</script>
{% endblock %}



{% block content %}

<div class="flex flex-col gap-10">
    {% for data in warehouse_data %}
        <div class="flex flex-col gap-4">
            <div class="text-title">
                <p class="text-title  mb-2">
                    {{ data.warehouse_id|upper }} - {{ data.warehouse_name|title }}
                </p>
                <hr class="border-border">
            </div>

            {% for route in data.routes %}
                <div class="w-full overflow-x-auto border border-border rounded bg-container mb-6">
                    <table class="min-w-max text-left border-separate border-spacing-0">
                        <thead>
                            <tr>
                                <th colspan="2" class="sticky left-0 z-10 p-2 bg-container border-r border-border text-center">
                                    <a href="{% url 'business_intelligence:routes_kpis' %}?date_start=&date_end=&route={{ route.route_id }}" target="_blank" class="flex items-center justify-center gap-1 underline text-strong">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M22 12A10 10 0 1 1 12 2" />
                                            <path d="M22 2 12 12" />
                                            <path d="M16 2h6v6" />
                                        </svg>
                                        <span class="">{{ route.route_id|upper }} {{ route.route_name|title }}</span>
                                    </a>
                                </th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Enero {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Febrero {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Marzo {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Abril {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Mayo {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Junio {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Julio {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Agosto {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Septiembre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Octubre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Noviembre {{ selected_year }}</th>
                                <th colspan="4" class="p-1 border border-border text-center text-title">Diciembre {{ selected_year }}</th>
                            </tr>
                            
                            <tr class="border-b border-border bg-muted/5">
                                <th class="sticky left-0 z-20 w-24 p-2 bg-container border border-border text-center text-title">Ruta</th>
                                <th class="sticky left-24 z-20 w-40 p-2 bg-container border border-border text-left text-title">Clase</th>
                                
                                {% for _ in "123456789012" %}
                                    <th class="w-30 p-1 border border-border text-center text-title ">Objetivo</th>
                                    <th class="w-30 p-1 border border-border text-center text-title ">Venta</th>
                                    <th class="w-30 p-1 border border-border text-center text-title ">Alcance</th>
                                    <th class="w-30 p-1 border border-border text-center text-title ">Diferencia</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for product_class in route.product_classes %}
                                <tr class="hover:bg-hover transition-colors duration-300">
                                    <td class="sticky left-0 z-10 p-2 bg-container border-r border-border text-center">
                                        {{ route.route_id|upper }}
                                    </td>
                                    <td class="sticky left-24 z-10 p-2 bg-container border-r border-border   truncate">
                                        {{ product_class.name|title }}
                                    </td>

                                    {% for month_data in product_class.monthly_data %}
                                        <td class="p-2  text-right ">$ {{ month_data.target|floatformat:2|intcomma }}</td>
                                        <td class="p-2  text-right ">$ {{ month_data.net_sale|floatformat:2|intcomma }}</td>
                                        <td class="p-2  text-right ">{{ month_data.scope|floatformat:2|intcomma }}%</td>
                                        <td class="p-2  text-right  border-r border-border
                                            {% if month_data.diff < 0 %}text-red-500{% else %}text-green-500{% endif %}">
                                            $ {{ month_data.diff|floatformat:2|intcomma }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% empty %}
                                {% endfor %}

                            <tr class="border border-border">
                                <td class="sticky left-0 z-10 p-2 bg-container border-r border-border text-center">
                                    {{ route.route_id|upper }}
                                </td>
                                <td class="sticky left-24 z-10 p-2 bg-container border-r border-border">
                                    {{ route.total.name|title }}
                                </td>
                                
                                {% for month_data in route.total.monthly_data %}
                                    <td class="p-2 text-right  border-y border-border">$ {{ month_data.target|floatformat:2|intcomma }}</td>
                                    <td class="p-2 text-right  border-y border-border">$ {{ month_data.net_sale|floatformat:2|intcomma }}</td>
                                    <td class="p-2 text-right  border-y border-border">{{ month_data.scope|floatformat:2|intcomma }}%</td>
                                    <td class="p-2 text-right  border-r border-y border-border {% if month_data.diff < 0 %}text-red-500{% else %}text-green-500{% endif %}">
                                        $ {{ month_data.diff|floatformat:2|intcomma }}
                                    </td>
                                {% endfor %}
                            </tr>

                                {% for result in route.results %}
                                    <tr class="hover:bg-hover transition-colors duration-300">
                                        <td class="sticky left-0 z-10 p-2 bg-container border-r border-border text-center">
                                            {{ route.route_id|upper }}
                                        </td>
                                        <td class="sticky left-24 z-10 p-2 bg-container border-r border-border   capitalize">
                                            {{ result.name }}
                                        </td>
                                        
                                        {% for month_data in result.monthly_data %}
                                            <td colspan="4" class="p-2 text-center   border border-border">
                                                {{ month_data.value }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


{% endblock %}
