<div class="flex flex-col w-full gap-4" id="department-list-content">

    <div class="">
        <p class="text-title text-sm mb-2">Resumen de departamentos</p>
        <hr class="border-border">
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

        <div class="border border-border rounded p-2 flex flex-col bg-container custom-tooltip tooltip-left"
            data-title="">
            <p class="text-sm text-strong w-max cursor-pointer">
                Departamentos registrados
            </p>
            <p class="text-xl text-blue-500">
                <span>
                    {{ kpis.registered_departments }}
                </span>

            </p>
        </div>

        <div class="border border-border rounded p-2 flex flex-col bg-container custom-tooltip tooltip-left"
            data-title="">
            <p class="text-sm text-strong w-max cursor-pointer">
                Posiciones asociadas
            </p>
            <p class="text-xl text-violet-500">
                <span>
                    {{ kpis.associated_positions }}
                </span>

            </p>
        </div>

        <div class="border border-border rounded p-2 flex flex-col bg-container custom-tooltip tooltip-left"
            data-title="">
            <p class="text-sm text-strong w-max cursor-pointer">
                Colaboradores activos
            </p>
            <p class="text-xl text-emerald-500">
                <span>
                    {{ kpis.active_employees }}
                </span>

            </p>
        </div>

        <div class="border border-border rounded p-2 flex flex-col bg-container custom-tooltip tooltip-left"
            data-title="">
            <p class="text-sm text-strong w-max cursor-pointer">
                Colaboradores inactivos
            </p>
            <p class="text-xl text-red-500">
                <span>
                    {{ kpis.inactive_employees }}
                </span>

            </p>
        </div>


    </div>

    <div class="w-full overflow-auto border border-border rounded bg-container max-h-[80vh] relative">
        <table class="w-max min-w-full border-separate border-spacing-0 table-fixed">
            <thead>
                <tr class="border-b border-border text-xs">
                    <th
                        class="min-w-[50px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page ">
                        ID</th>
                    <th
                        class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page">
                        Nombre</th>
                    <th
                        class="min-w-[300px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page">
                        Descripción</th>

                    <th
                        class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page">
                        Posiciones asociadas</th>

                    <th
                        class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page">
                        Colaboradores activos</th>

                    <th
                        class="min-w-[150px] p-2 text-center text-title border-r border-t border-b border-border sticky top-0 z-30 bg-page">
                        Colaboradores inactivos</th>
                </tr>
            </thead>

            <tbody class="" id="report-container">
                {% include "human_resources/departments/partials/department_list_rows.html" %}
            </tbody>
        </table>
    </div>

</div>
