{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% block module_name %}Usuarios{% endblock %}

{% block module_actions %}
    <form action="." method="GET" class="flex gap-2 items-center bg-page border border-border rounded p-1 text-body">

        {% if current_filters.is_active %}<input type="hidden" name="is_active" value="{{ current_filters.is_active }}">{% endif %}
        {% if current_filters.city %}<input type="hidden" name="city" value="{{ current_filters.city }}">{% endif %}
        {% if current_filters.state %}<input type="hidden" name="state" value="{{ current_filters.state }}">{% endif %}
        {% for g in current_filters.groups %}<input type="hidden" name="groups" value="{{ g }}">{% endfor %}
        {% for g in current_filters.gender %}<input type="hidden" name="gender" value="{{ g }}">{% endfor %}

        <input type="text" placeholder="Buscar usuario" name="q" value="{{ current_filters.q }}" class="focus:outline-none bg-page">
        <button type="submit" class="hover:text-hover cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
        </button>
    </form>

    <a href="{% url 'data_admin:user_create' %}" target="_blank" title="Crear nuevo usuario" class="hover:text-hover text-strong transition-colors cursor-pointer shrink-0">Nuevo usuario</a>


    <button onclick="toggleFilters()" class="hover:text-hover text-strong transition-colors shrink-0 cursor-pointer">Filtrar</button>
{% endblock %}


{% block filters %}
    <form method="GET" action="." class="flex flex-col gap-4 text-body">

        {% if current_filters.q %}
            <input type="hidden" name="q" value="{{ current_filters.q }}">
        {% endif %}

        <div class="flex flex-col gap-1">
            <label for="filter_status" class="text-title font-medium">Estado</label>
            <select id="filter_status" name="is_active" class="bg-page border border-border rounded px-2 py-1 focus:outline-none">
                <option value="">Todos</option>
                <option value="True" {% if current_filters.is_active == 'True' %}selected{% endif %}>Activos</option>
                <option value="False" {% if current_filters.is_active == 'False' %}selected{% endif %}>Inactivos</option>
            </select>
        </div>

        <div class="flex flex-col gap-1">
            <label class="text-title font-medium">Grupo</label>
            <div class="flex flex-col gap-1.5 mt-1">
                {% for group in all_groups %}
                <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors">
                    <input type="checkbox" name="groups" value="{{ group.id }}" class="accent-strong" {% if group.id in current_filters.groups %}checked{% endif %}>
                    <span>{{ group.name|title }}</span>
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="flex flex-col gap-1">
            <label class="text-title font-medium">Género</label>
            <div class="flex flex-col gap-1.5 mt-1">
                <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors">
                    <input type="checkbox" name="gender" value="m" class="accent-strong" {% if 'm' in current_filters.gender %}checked{% endif %}> Masculino
                </label>
                <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors">
                    <input type="checkbox" name="gender" value="f" class="accent-strong" {% if 'f' in current_filters.gender %}checked{% endif %}> Femenino
                </label>
                <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors">
                    <input type="checkbox" name="gender" value="nb" class="accent-strong" {% if 'nb' in current_filters.gender %}checked{% endif %}> No binario
                </label>
                <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors">
                    <input type="checkbox" name="gender" value="o" class="accent-strong" {% if 'o' in current_filters.gender %}checked{% endif %}> Otro
                </label>
            </div>
        </div>

        <div class="flex flex-col gap-1">
            <label for="filter_city" class="text-title font-medium">Ciudad</label>
            <input type="text" id="filter_city" name="city" value="{{ current_filters.city }}" class="bg-page border border-border rounded px-2 py-1 focus:outline-none">
        </div>

        <div class="flex flex-col gap-1">
            <label for="filter_state" class="text-title font-medium">Estado / Provincia</label>
            <input type="text" id="filter_state" name="state" value="{{ current_filters.state }}" class="bg-page border border-border rounded px-2 py-1 focus:outline-none">
        </div>

        <div class="mt-4 flex flex-col gap-2">
            <button type="submit" class="bg-strong text-container py-1.5 rounded font-medium hover:bg-hover transition-colors cursor-pointer w-full text-center">
                Aplicar filtros
            </button>
            <a href="{% url 'data_admin:users' %}" class="text-center border border-border py-1.5 rounded font-medium hover:text-strong transition-colors cursor-pointer w-full">
                Limpiar filtros
            </a>
        </div>
    </form>
{% endblock %}

{% block content %}

    <div class="w-full overflow-x-auto border border-border rounded bg-container">
        <table class="w-full table-fixed text-left border-collapse">
            <thead>
            <tr class="border-b border-border">
                <th class="w-40 p-1 text-center text-title">Usuario</th>
                <th class="w-40 p-1 text-center text-title">Nombre (s)</th>
                <th class="w-40 p-1 text-center text-title">Primer apellido</th>
                <th class="w-40 p-1 text-center text-title">Segundo apellido</th>
                <th class="w-60 p-1 text-center text-title">Email</th>
                <th class="w-20 p-1 text-center text-title">Estado</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
            <tr class="hover:bg-hover transition-colors duration-300">
                <td class="p-2">
                    <a href="{% url 'data_admin:user' user.id %}" target="_blank" class="flex items-center gap-2 underline text-strong">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right"><path d="M22 12A10 10 0 1 1 12 2"/><path d="M22 2 12 12"/><path d="M16 2h6v6"/></svg>
                        <span>
                            {{ user.username|default:"-" }}
                        </span>
                    </a>
                </td>
                <td class="p-2 truncate">{{ user.first_name|title|default:"-" }}</td>
                <td class="p-2 truncate">{{ user.last_name|title|default:"-" }}</td>
                <td class="p-2 truncate">{% if user.second_last_name %}{{ user.second_last_name|title|default:"-" }}{% else %}-{% endif %}</td>
                <td class="p-2 truncate">{{ user.email|default:"-" }}</td>
                <td class="p-2 text-center">{% if user.is_active %}Activo{% else %}Inactivo{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>



{% endblock %}