{% extends 'base.html' %}

{% block title %}Nuevo usuario{% endblock %}

{% block module_name %}Nuevo usuario{% endblock %}

{% block module_actions %}

    <button type="submit" form="update-user-form" id="btn-save" class="hover:text-hover text-green-700 transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
      <span>
        Confirmar
      </span>
    </button>

    <a href="{% url 'data_admin:users' %}" class="hover:text-hover text-red-700 transition-colors cursor-pointer shrink-0 flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
      <span>
        Cancelar
      </span>
    </a>

{% endblock %}

{% block content %}

  <form id="update-user-form" method="POST" action=".">
    {% csrf_token %}
    <div class="flex flex-col gap-4">

      <p class="text-title text-sm">Accesos</p>
      <hr class="border-border border">

      <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title">Usuario</span>
        <div>
          <input type="text" name="username" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none" required>
        </div>

        <span class="text-title">Contraseña</span>
        <div>
          <input type="password" name="password" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none" required>
        </div>

        <span class="text-title">Correo electrónico</span>
        <div>
          <input type="email" name="email" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Estado</span>
        <div>
          <select name="is_active" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
            <option value="True" {% if user.is_active == 'True' or not user %}selected{% endif %}>Activo</option>
            <option value="False" {% if user.is_active == 'False' %}selected{% endif %}>Inactivo</option>
          </select>
        </div>

        <span class="text-title">Grupos</span>
        <div class="grid grid-cols-2 gap-2 max-h-32 overflow-y-auto">
          {% for group in all_groups %}
            <label class="flex items-center gap-2 cursor-pointer hover:text-strong transition-colors text-body">
              <input type="checkbox" name="groups" value="{{ group.id }}" class="accent-strong">
              <span>{{ group.name|title }}</span>
            </label>
          {% empty %}
            <span class="text-muted text-sm italic col-span-2">No hay grupos registrados</span>
          {% endfor %}
        </div>

      </div>

      <p class="text-title text-sm">Información personal</p>
      <hr class="border-border border">

      <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title">Nombre (s)</span>
        <div>
          <input type="text" name="first_name" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Primer apellido</span>
        <div>
          <input type="text" name="last_name" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Segundo apellido</span>
        <div>
          <input type="text" name="second_last_name" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Género</span>
        <div>
          <select name="gender" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
            <option value="">Seleccione...</option>
            <option value="m" {% if user.gender == 'm' %}selected{% endif %}>Masculino</option>
            <option value="f" {% if user.gender == 'f' %}selected{% endif %}>Femenino</option>
            <option value="nb" {% if user.gender == 'nb' %}selected{% endif %}>No binario</option>
            <option value="o" {% if user.gender == 'o' %}selected{% endif %}>Otro</option>
          </select>
        </div>

        <span class="text-title">Fecha de nacimiento</span>
        <div>
          <input type="date" name="birth_date" value="{{ user.birth_date|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Registro Federal de Contribuyentes (RFC)</span>
        <div>
          <input type="text" name="tax_id" value="{{ user.tax_id|default:'' }}" maxlength="13" class="w-full uppercase bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Clave Única de Registro de Población (CURP)</span>
        <div>
          <input type="text" name="unique_personal_id" value="{{ user.unique_personal_id|default:'' }}" maxlength="18" class="w-full uppercase bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>
      </div>

      <p class="text-title text-sm">Contacto</p>
      <hr class="border-border border">

      <div class="grid grid-cols-2 gap-2 items-center bg-container p-2 rounded">
        <span class="text-title">Teléfono</span>
        <div>
          <input type="text" name="phone" value="{{ user.phone|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Calle</span>
        <div>
          <input type="text" name="street" value="{{ user.street|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Número exterior</span>
        <div>
          <input type="text" name="street_no" value="{{ user.street_no|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Número interior (si aplica)</span>
        <div>
          <input type="text" name="apt_suite" value="{{ user.apt_suite|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Ciudad</span>
        <div>
          <input type="text" name="city" value="{{ user.city|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Estado</span>
        <div>
          <input type="text" name="state" value="{{ user.state|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">País</span>
        <div>
          <input type="text" name="country" value="{{ user.country|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>

        <span class="text-title">Código postal</span>
        <div>
          <input type="text" name="zipcode" value="{{ user.zipcode|default:'' }}" class="w-full bg-page border border-border rounded px-2 py-1 text-body focus:outline-none">
        </div>
      </div>

      <p class="text-title text-sm">Adicionales</p>
      <hr class="border-border border">

      <div class="bg-container p-2 rounded text-wrap">
        <textarea name="notes" rows="4" class="w-full bg-page border border-border rounded p-2 text-body focus:outline-none resize-none"></textarea>
      </div>

    </div>
  </form>

{% endblock %}